[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=BlueDevil/ActionPlugin
X-KDE-Derived=KPluginInfo
Name=BlueDevil Service Plugin
Name[ca]=Connector del servei BlueDevil
Name[da]=BlueDevil tjeneste-plugin
Name[en_GB]=BlueDevil Service Plugin
Name[et]=BlueDevili teenuse plugin
Name[fr]=Module externe du service BlueDevil
Name[hu]=BlueDevil szolgáltatás bővítmény
Name[it]=Estensione di servizio di BlueDevil
Name[nl]=Plugin voor BlueDevil-service 
Name[pt]='Plugin' de Serviço Bluetooth
Name[pt_BR]=Plug-in de serviço Bluetooth
Name[sl]=Vstavek storitve BlueDevil
Name[sv]=Blådjävul tjänstinsticksprogram
Name[tr]=BlueDevil Servis Eklentisi
Name[uk]=Додаток служби BlueDevil
Name[x-test]=xxBlueDevil Service Pluginxx
Name[zh_TW]=BlueDevil 服務外掛程式

[PropertyDef::X-BlueDevil-UUIDS]
Type=QStringList
