[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=BlueDevil/ActionPlugin
X-KDE-Derived=KPluginInfo
Name=BlueDevil Service Plugin
Name[ar]=محلق خدمة بلوديفل
Name[bs]=BlueDevil Servisni dodatak
Name[ca]=Connector del servei BlueDevil
Name[ca@valencia]=Connector del servei BlueDevil
Name[cs]=Modul služby BlueDevil
Name[da]=BlueDevil tjeneste-plugin
Name[de]=BlueDevil-Service-Modul
Name[el]=Πρόσθετο υπηρεσίας BlueDevil
Name[en_GB]=BlueDevil Service Plugin
Name[es]=Complemento del servicio BlueDevil
Name[et]=BlueDevili teenuse plugin
Name[fi]=BlueDevil-palveluliitännäinen
Name[fr]=Module externe du service BlueDevil
Name[gl]=Complemento de servizo de BlueDevil
Name[hu]=BlueDevil szolgáltatás bővítmény
Name[it]=Estensione di servizio di BlueDevil
Name[kk]=BlueDevil қызмет плагині
Name[km]=កម្មវិធី​ជំនួយ​​​សេវាកម្ម BlueDevil​
Name[lt]=BlueDevil tarnybos papildinys
Name[mr]=ब्लु-डेव्हिल सेवा प्लगइन
Name[nb]=Programtillegg for BlueDevil-tjeneste
Name[nds]=Moduul för BlueDevil-Deensten
Name[nl]=Plugin voor BlueDevil-service 
Name[pa]=BlueDevil ਸਰਵਿਸ ਪਲੱਗਇਨ
Name[pl]=Wtyczka usługi BlueDevil
Name[pt]='Plugin' de Serviço Bluetooth
Name[pt_BR]=Plugin de serviço BlueDevil
Name[ro]=Extensie de serviciu BlueDevil
Name[ru]=Расширение службы BlueDevil
Name[sk]=Modul služby BlueDevil
Name[sl]=Vstavek storitve BlueDevil
Name[sr]=Прикључак сервиса Блудевила
Name[sr@ijekavian]=Прикључак сервиса Блудевила
Name[sr@ijekavianlatin]=Priključak servisa BlueDevila
Name[sr@latin]=Priključak servisa BlueDevila
Name[sv]=Blådjävul tjänstinsticksprogram
Name[th]=ส่วนเสริมของบริการบลูดีวิล
Name[tr]=BlueDevil Hizmet Eklentisi
Name[ug]=BlueDevil مۇلازىمەت قىستۇرمىسى
Name[uk]=Додаток служби BlueDevil
Name[x-test]=xxBlueDevil Service Pluginxx
Name[zh_CN]=BlueDevil 服务插件
Name[zh_TW]=BlueDevil 服務外掛程式

[PropertyDef::X-BlueDevil-UUIDS]
Type=QStringList
