[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=BlueDevil/ActionPlugin
X-KDE-Derived=KPluginInfo
Name=BlueDevil Service Plugin
Name[pt]='Plugin' de Serviço Bluetooth
Name[pt_BR]=Plug-in de serviço Bluetooth
Name[sv]=Blådjävul tjänstinsticksprogram
Name[uk]=Додаток служби BlueDevil
Name[x-test]=xxBlueDevil Service Pluginxx

[PropertyDef::X-BlueDevil-UUIDS]
Type=QStringList
