[Desktop Entry]
Type=Service
Icon=preferences-system-bluetooth
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=obexftpdaemon
X-KDE-DBus-ModuleName=obexftpdaemon
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1

Name=Bluetooth File Transfer
Name[ca]=Transferència de fitxer per Bluetooth
Name[cs]=Přenos souborů Bluetooth
Name[de]=Bluetooth-Dateiübertragung
Name[en_GB]=Bluetooth File Transfer
Name[es]=Transferencia de archivos por Bluetooth
Name[fi]=Bluetooth-tiedostonsiirto
Name[fr]=Transfert de fichiers Bluetooth
Name[it]=Trasferimento file via Bluetooth
Name[nb]=Blåtann filoverføring
Name[nl]=Bestandsoverdracht via bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie plików Bluetooth
Name[pt]=Transferência de Ficheiros por Bluetooth
Name[pt_BR]=Transferência de arquivos por Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sr]=Блутут пренос фајла
Name[sr@ijekavian]=Блутут пренос фајла
Name[sr@ijekavianlatin]=Bluetooth prenos fajla
Name[sr@latin]=Bluetooth prenos fajla
Name[sv]=Filöverföring med Blåtand
Name[uk]=Перенесення файла за допомогою Bluetooth
Name[x-test]=xxBluetooth File Transferxx
Name[zh_CN]=蓝牙文件传输

Comment=Supports Bluetooth file transfer using ObexFTP
Comment[ca]=Accepta transferència de fitxer per Bluetooth usant ObexFTP
Comment[cs]=Podporuje přenos souborů Bluetooth použitím ObexFTP
Comment[de]=Unterstützt Bluetooth-Datenübertragung mittels ObexFTP
Comment[en_GB]=Supports Bluetooth file transfer using ObexFTP
Comment[es]=Permite la transferencia de archivos por Bluetooth usando ObexFTP
Comment[fi]=Tukee Bluetooth-tiedostonsiirtoa ObexFTP:tä käyttäen
Comment[fr]=Prend en charge le transfert de fichiers Bluetooth à l'aide de « ObexFTP »
Comment[it]=Supporta i trasferimenti di file Bluetooth usando ObexFTP
Comment[nb]=Støtter Blåtann filoverføring vhja ObexFTP
Comment[nl]=Ondersteunt bestandsoverdracht via bluetooth met ObexFTP
Comment[pl]=Wspiera przesyłanie plików przez Bluetooth przy użyciu ObexFTP
Comment[pt]=Suporta a transferência de ficheiros por Bluetooth com o ObexFTP
Comment[pt_BR]=Suporte à transferência de arquivos por Bluetooth usando o ObexFTP
Comment[sk]=Podporuje Bluetooth prenosy súborov pomocou ObexFTP
Comment[sl]=Podpira prenose datotek preko Bluetooth z uporabo ObexFTP
Comment[sr]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavian]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavianlatin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sr@latin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sv]=Stöder filöverföringar för Blåtand med ObexFTP
Comment[uk]=Підтримує перенесення файлів Bluetooth за допомогою ObexFTP
Comment[x-test]=xxSupports Bluetooth file transfer using ObexFTPxx
Comment[zh_CN]=支持使用 ObexFTP 进行蓝牙文件传输
