[Desktop Entry]
Type=Service
Icon=preferences-system-bluetooth
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=obexftpdaemon
X-KDE-DBus-ModuleName=obexftpdaemon
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1

Name=Bluetooth File Transfer
Name[bs]=Transfer Bluetooth Daoteke
Name[ca]=Transferència de fitxer per Bluetooth
Name[ca@valencia]=Transferència de fitxer per Bluetooth
Name[cs]=Přenos souborů Bluetooth
Name[da]=Bluetooth filoverførsel
Name[de]=Bluetooth-Dateiübertragung
Name[el]=Μεταφορά αρχείων με Bluetooth
Name[en_GB]=Bluetooth File Transfer
Name[es]=Transferencia de archivo por Bluetooth
Name[et]=Bluetoothi failiedastus
Name[fi]=Bluetooth-tiedostonsiirto
Name[fr]=Transfert de fichiers Bluetooth
Name[gl]=Transferencias de ficheiros mediante Bluetooth
Name[hu]=Bluetooth fájlátvitel
Name[it]=Trasferimento file via Bluetooth
Name[kk]=Bluetooth арқылы файлды тасымалдау
Name[ko]=블루투스 파일 전송
Name[lt]=Failų perdavimai
Name[mr]=ब्लूटूथ फाईल बदली
Name[nb]=Blåtann filoverføring
Name[nds]=Bluetooth-Dateiöverdregen
Name[nl]=Bestandsoverdracht via bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie plików Bluetooth
Name[pt]=Transferência de Ficheiros por Bluetooth
Name[pt_BR]=Transferência de arquivos por Bluetooth
Name[ro]=Transfer de fișiere Bluetooth
Name[ru]=Передача файла по Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sr]=Блутут пренос фајла
Name[sr@ijekavian]=Блутут пренос фајла
Name[sr@ijekavianlatin]=Bluetooth prenos fajla
Name[sr@latin]=Bluetooth prenos fajla
Name[sv]=Filöverföring med Blåtand
Name[tr]=Bluetooth Dosya Aktarımı
Name[uk]=Перенесення файла за допомогою Bluetooth
Name[x-test]=xxBluetooth File Transferxx
Name[zh_TW]=藍牙檔案傳輸

Comment=Supports Bluetooth file transfer using ObexFTP
Comment[bs]=Podržava Blutut prijenos datoteka koristeći ObexFTP
Comment[ca]=Accepta transferència de fitxer per Bluetooth usant ObexFTP
Comment[ca@valencia]=Accepta transferència de fitxer per Bluetooth usant ObexFTP
Comment[cs]=Podporuje přenos souborů Bluetooth použitím ObexFTP
Comment[da]=Understøtter Bluetooth filoverførsel med ObexFTP
Comment[de]=Unterstützt Bluetooth-Datenübertragung mittels ObexFTP
Comment[el]=Υποστηρίζει μεταφορά αρχείων με Bluetooth με χρήση ObexFTP
Comment[en_GB]=Supports Bluetooth file transfer using ObexFTP
Comment[es]=Permite transferencias de archivos por Bluetooth usando ObexFTP
Comment[et]=Bluetoothi failiedastuse toetamine ObexFTP vahendusel
Comment[fi]=Tukee Bluetooth-tiedostonsiirtoa ObexFTP:tä käyttäen
Comment[fr]=Prend en charge le transfert de fichiers Bluetooth à l'aide de « ObexFTP »
Comment[gl]=Permite a transferencia de ficheiros por Bluetooth empregando ObexFTP
Comment[hu]=Támogatja a Bluetooth fájlátvitelt az ObexFTP használatával
Comment[it]=Supporta i trasferimenti di file Bluetooth usando ObexFTP
Comment[kk]=ObexFTP-мен Bluetooth арқылы файлды тасымалдау
Comment[ko]=ObexFTP를 통한 블루투스 파일 전송 지원
Comment[lt]=Palaiko Bluetooth failų perdavimą naudojant ObexFTP
Comment[mr]=ओबेक्स-एफटीपी वापरून ब्लूटूथ फाईल बदली समर्थीत करतो
Comment[nb]=Støtter Blåtann filoverføring vhja ObexFTP
Comment[nds]=Ünnerstütt Bluetooth-Dateiöverdregen över ObexFTP
Comment[nl]=Ondersteunt bestandsoverdracht via bluetooth met ObexFTP
Comment[pl]=Wspiera przesyłanie plików przez Bluetooth przy użyciu ObexFTP
Comment[pt]=Suporta a transferência de ficheiros por Bluetooth com o ObexFTP
Comment[pt_BR]=Suporte à transferência de arquivos por Bluetooth usando o ObexFTP
Comment[ro]=Susține transfer de fișiere Bluetooth folosind ObexFTP
Comment[ru]=Поддерживает передачу файлов по Bluetooth на базе ObexFTP
Comment[sk]=Podporuje Bluetooth prenosy súborov pomocou ObexFTP
Comment[sl]=Podpira prenose datotek preko Bluetooth z uporabo ObexFTP
Comment[sr]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavian]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavianlatin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sr@latin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sv]=Stöder filöverföringar för Blåtand med ObexFTP
Comment[tr]=ObexFTP kullanarak Bluetooth dosya transferlerini destekler
Comment[uk]=Підтримує перенесення файлів Bluetooth за допомогою ObexFTP
Comment[x-test]=xxSupports Bluetooth file transfer using ObexFTPxx
Comment[zh_TW]=使用 ObexFTP 支援藍牙檔案傳輸
