[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil
Name[ca]=BlueDevil
Name[ca@valencia]=BlueDevil
Name[cs]=BlueDevil
Name[da]=BlueDevil
Name[de]=BlueDevil
Name[en_GB]=BlueDevil
Name[es]=BlueDevil
Name[et]=BlueDevil
Name[fr]=BlueDevil
Name[ga]=BlueDevil
Name[hu]=BlueDevil
Name[it]=BlueDevil
Name[km]=BlueDevil
Name[nb]=BlueDevil
Name[nds]=BlueDevil
Name[nl]=BlueDevil
Name[pa]=BlueDevil
Name[pt]=BlueDevil
Name[pt_BR]=BlueDevil
Name[ro]=BlueDevil
Name[ru]=BlueDevil
Name[sl]=BlueDevil
Name[sv]=Blådjävul
Name[th]=บลูดีวิล
Name[tr]=BlueDevil
Name[uk]=BlueDevil
Name[x-test]=xxBlueDevilxx
Name[zh_TW]=BlueDevil
GenericName=bluedevil
GenericName[ca]=bluedevil
GenericName[ca@valencia]=bluedevil
GenericName[cs]=bluedevil
GenericName[da]=bluedevil
GenericName[de]=BlueDevil
GenericName[en_GB]=bluedevil
GenericName[es]=bluedevil
GenericName[et]=bluedevil
GenericName[hu]=bluedevil
GenericName[it]=BlueDevil
GenericName[nds]=BlueDevil
GenericName[nl]=bluedevil
GenericName[pa]=bluedevil
GenericName[pt]=BlueDevil
GenericName[pt_BR]=bluedevil
GenericName[ro]=bluedevil
GenericName[ru]=bluedevil
GenericName[sl]=bluedevil
GenericName[sv]=Blådjävul
GenericName[tr]=bluedevil
GenericName[uk]=bluedevil
GenericName[x-test]=xxbluedevilxx
GenericName[zh_TW]=bluedevil
Exec=bluedevil-monolithic
Comment=KDE Bluetooth support
Comment[ca]=Implementació Bluetooth del KDE
Comment[ca@valencia]=Implementació bluetooth del KDE
Comment[cs]=Podpora Bluetooth v KDE
Comment[da]=KDE bluetooth-understøttelse
Comment[de]=KDE-Bluetooth-Unterstützung
Comment[en_GB]=KDE Bluetooth support
Comment[es]=Soporte Bluetooth de KDE
Comment[et]=KDE Bluetoothi toetus
Comment[fr]=Prise en charge de Bluetooth pour KDE
Comment[hu]=KDE bluetooth támogatás
Comment[it]=Supporto Bluetooth per KDE
Comment[km]=គាំទ្រ​ប៊្លូធូស​របស់​ KDE
Comment[nb]=KDE Bluetooth-støtte
Comment[nds]=Bluetooth-Ünnerstütten vun KDE
Comment[nl]=KDE Bluetooth ondersteuning
Comment[pa]=KDE ਬਲਿਊਟੁੱਥ ਸਹਿਯੋਗ
Comment[pt]=Suporte para Bluetooth no KDE
Comment[pt_BR]=Suporte para Bluetooth do KDE
Comment[ro]=Suport Bluetooth pentru KDE
Comment[ru]=Поддержка Bluetooth в KDE
Comment[sl]=KDE-jeva podpora za Bluetooth
Comment[sv]=KDE:s Blåtandstöd
Comment[th]=ระบบบลูทูทของ KDE
Comment[tr]=KDE Bluetooth desteği
Comment[uk]=Підтримка Bluetooth у KDE
Comment[x-test]=xxKDE Bluetooth supportxx
Comment[zh_TW]=KDE 藍芽支援
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;Bluetooth;Network;
