[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil
Name[de]=BlueDevil
Name[nds]=BlueDevil
Name[pt]=BlueDevil
Name[sv]=Blådjävul
Name[uk]=BlueDevil
Name[x-test]=xxBlueDevilxx
GenericName=bluedevil
GenericName[de]=BlueDevil
GenericName[pt]=bluedevil
GenericName[sv]=Blådjävul
GenericName[uk]=bluedevil
GenericName[x-test]=xxbluedevilxx
Exec=bluedevil-monolithic
Comment=KDE Bluetooth support
Comment[nds]=Bluetooth-Ünnerstütten vun KDE
Comment[pt]=Suporte para Bluetooth no KDE
Comment[sv]=KDE:s Blåtandstöd
Comment[uk]=Підтримка Bluetooth у KDE
Comment[x-test]=xxKDE Bluetooth supportxx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;Bluetooth;Network;
