[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil
GenericName=BlueDevil
Exec=bluedevil-monolithic
Comment=KDE Bluetooth support
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
