[Desktop Entry]
Icon=preferences-system-bluetooth
Name=Bluetooth
Name[ar]=بلوتوث
Name[bs]=Blutut
Name[ca]=Bluetooth
Name[cs]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[gl]=Bluetooth
Name[hu]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[nb]=Blåtann
Name[nl]=Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[sr@ijekavianlatin]=Bluetooth
Name[sr@latin]=Bluetooth
Name[sv]=Blåtand
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍牙

Type=Link
URL=bluetooth:/
