[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Network connect
Name[bs]=BlueDevil mrežna konekcija
Name[cs]=Síťové připojení BlueDevil
Name[da]=BlueDevil netværksforbindelse
Name[es]=Conexión de red BlueDevil
Name[it]=Connessione di rete di BlueDevil
Name[nl]=BlueDevil-netwerkverbinding
Name[pt_BR]=Conexão de rede do BlueDevil
Name[sk]=Sieťové pripojenie BlueDevil
Name[uk]=З’єднання мережевого пристрою BlueDevil
Name[x-test]=xxBlueDevil Network connectxx
Comment=BlueDevil Network connect
Comment[bs]=Bludevilovo mrežno povezivanje
Comment[cs]=Síťové připojení BlueDevil
Comment[da]=BlueDevil netværksforbindelse
Comment[es]=Conexión de red BlueDevil
Comment[it]=Connessione di rete di BlueDevil
Comment[nl]=BlueDevil-netwerkverbinding
Comment[pt_BR]=Conexão de rede do BlueDevil
Comment[sk]=Sieťové pripojenie BlueDevil
Comment[uk]=З’єднання мережевого пристрою BlueDevil
Comment[x-test]=xxBlueDevil Network connectxx
GenericName=BlueDevil Network connect
GenericName[bs]=Bludevilovo mrežno povezivanje
GenericName[cs]=Síťové připojení BlueDevil
GenericName[da]=BlueDevil netværksforbindelse
GenericName[es]=Conexión de red BlueDevil
GenericName[it]=Connessione di rete di BlueDevil
GenericName[nl]=BlueDevil-netwerkverbinding
GenericName[pt_BR]=Conexão de rede do BlueDevil
GenericName[sk]=Sieťové pripojenie BlueDevil
GenericName[uk]=З’єднання мережевого пристрою BlueDevil
GenericName[x-test]=xxBlueDevil Network connectxx
MimeType=application/vnd.kde.bluedevil-network-dun;
Exec=bluedevil-network-dun %U
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
