[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Network connect
Name[ar]=بلوديفل يتصل الشبكة
Name[ca]=Connexió de xarxa BlueDevil
Name[ca@valencia]=Connexió de xarxa BlueDevil
Name[cs]=Síťové připojení BlueDevil
Name[da]=BlueDevil netværksforbindelse
Name[de]=BlueDevil-Netzwerkverbindung
Name[el]=Σύνδεση δικτύου BlueDevil
Name[es]=Conexión de red BlueDevil
Name[et]=BlueDevili võrguühendus
Name[fi]=Yhdistä BlueDevil-verkkoon
Name[fr]=Connexion réseau par BlueDevil
Name[gl]=Conectarse á rede por Bluetooth
Name[hu]=BlueDevil hálózati kapcsolat
Name[it]=Connessione di rete di BlueDevil
Name[km]=តភ្ជាប់​បណ្ដាញ BlueDevil 
Name[lt]=BlueDevil tinklo jungtis
Name[mr]=ब्लु-डेव्हिल संजाळ जुळवणी
Name[nb]=BlueDevil nettverkstilkobling
Name[nl]=BlueDevil-netwerkverbinding
Name[pa]=BlueDevil ਨੈੱਟਵਰਕ ਕੁਨੈਕਟ
Name[pl]=Połączenie sieci BlueDevil
Name[pt]=Ligação de rede do BlueDevil
Name[pt_BR]=Conexão de rede do BlueDevil
Name[ro]=Conectare la rețea BlueDevil
Name[ru]=Подключение к сети с помощью BlueDevil
Name[sk]=Sieťové pripojenie BlueDevil
Name[sl]=BlueDevil – omrežna povezava
Name[sr]=Блудевилово повезивање мреже
Name[sr@ijekavian]=Блудевилово повезивање мреже
Name[sr@ijekavianlatin]=BlueDevilovo povezivanje mreže
Name[sr@latin]=BlueDevilovo povezivanje mreže
Name[sv]=Blådjävul nätverksanslutning
Name[tr]=BlueDevil Ağa bağlan
Name[uk]=З’єднання мережевого пристрою BlueDevil
Name[x-test]=xxBlueDevil Network connectxx
Name[zh_CN]=BlueDevil 网络连接
Name[zh_TW]=BlueDevil 網路連線
Comment=BlueDevil Network connect
Comment[ar]=بلوديفل يتصل الشبكة
Comment[ca]=Connexió de xarxa BlueDevil
Comment[ca@valencia]=Connexió de xarxa BlueDevil
Comment[cs]=Síťové připojení BlueDevil
Comment[da]=BlueDevil netværksforbindelse
Comment[de]=BlueDevil-Netzwerkverbindung
Comment[el]=Σύνδεση δικτύου BlueDevil
Comment[es]=Conexión de red BlueDevil
Comment[et]=BlueDevili võrguühendus
Comment[fi]=Yhdistä BlueDevil-verkkoon
Comment[fr]=Connexion réseau par BlueDevil
Comment[gl]=Conectarse á rede por Bluetooth
Comment[hu]=BlueDevil hálózati kapcsolat
Comment[it]=Connessione di rete di BlueDevil
Comment[km]=តភ្ជាប់​បណ្ដាញ​ BlueDevil 
Comment[lt]=BlueDevil tinklo jungtis
Comment[mr]=ब्लु-डेव्हिल संजाळ जुळवणी
Comment[nb]=BlueDevil nettverkstilkobling
Comment[nl]=BlueDevil-netwerkverbinding
Comment[pa]=BlueDevil ਨੈੱਟਵਰਕ ਕੁਨੈਕਟ
Comment[pl]=Połączenie sieci BlueDevil
Comment[pt]=Ligação de rede do BlueDevil
Comment[pt_BR]=Conexão de rede do BlueDevil
Comment[ro]=Conectare la rețea BlueDevil
Comment[ru]=Подключение к сети с помощью BlueDevil
Comment[sk]=Sieťové pripojenie BlueDevil
Comment[sl]=BlueDevil – omrežna povezava
Comment[sr]=Блудевилово повезивање мреже
Comment[sr@ijekavian]=Блудевилово повезивање мреже
Comment[sr@ijekavianlatin]=BlueDevilovo povezivanje mreže
Comment[sr@latin]=BlueDevilovo povezivanje mreže
Comment[sv]=Blådjävul nätverksanslutning
Comment[tr]=BlueDevil Ağa bağlan
Comment[uk]=З’єднання мережевого пристрою BlueDevil
Comment[x-test]=xxBlueDevil Network connectxx
Comment[zh_CN]=BlueDevil 网络连接
Comment[zh_TW]=BlueDevil 網路連線
GenericName=BlueDevil Network connect
GenericName[ar]=بلوديفل يتصل الشبكة
GenericName[ca]=Connexió de xarxa BlueDevil
GenericName[ca@valencia]=Connexió de xarxa BlueDevil
GenericName[cs]=Síťové připojení BlueDevil
GenericName[da]=BlueDevil netværksforbindelse
GenericName[de]=BlueDevil-Netzwerkverbindung
GenericName[el]=Σύνδεση δικτύου BlueDevil
GenericName[es]=Conexión de red BlueDevil
GenericName[et]=BlueDevili võrguühendus
GenericName[fi]=Yhdistä BlueDevil-verkkoon
GenericName[fr]=Connexion réseau par BlueDevil
GenericName[gl]=Conectarse á rede por Bluetooth.
GenericName[hu]=BlueDevil hálózati kapcsolat
GenericName[it]=Connessione di rete di BlueDevil
GenericName[km]=តភ្ជាប់​បណ្ដាញ​ BlueDevil
GenericName[lt]=BlueDevil tinklo jungtis
GenericName[mr]=ब्लु-डेव्हिल संजाळ जुळवणी
GenericName[nb]=BlueDevil nettverkstilkobling
GenericName[nl]=BlueDevil-netwerkverbinding
GenericName[pa]=BlueDevil ਨੈੱਟਵਰਕ ਕੁਨੈਕਟ
GenericName[pl]=Połączenie sieci BlueDevil
GenericName[pt]=Ligação de Rede do BlueDevil
GenericName[pt_BR]=Conexão de rede do BlueDevil
GenericName[ro]=Conectare la rețea BlueDevil
GenericName[ru]=Подключение к сети с помощью BlueDevil
GenericName[sk]=Sieťové pripojenie BlueDevil
GenericName[sl]=BlueDevil – omrežna povezava
GenericName[sr]=Блудевилово повезивање мреже
GenericName[sr@ijekavian]=Блудевилово повезивање мреже
GenericName[sr@ijekavianlatin]=BlueDevilovo povezivanje mreže
GenericName[sr@latin]=BlueDevilovo povezivanje mreže
GenericName[sv]=Blådjävul nätverksanslutning
GenericName[tr]=BlueDevil Ağa bağlan
GenericName[uk]=З’єднання мережевого пристрою BlueDevil
GenericName[x-test]=xxBlueDevil Network connectxx
GenericName[zh_CN]=连接
GenericName[zh_TW]=BlueDevil 網路連線
MimeType=application/vnd.kde.bluedevil-network-dun;
Exec=bluedevil-network-dun %U
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
