[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to Dial Up Network service (DUN)
Comment[ar]=اتصل بشبكة الطلب الهاتفي
Comment[bs]=Povezivanje na telefonsko-modemsku vezu (DUN)
Comment[ca]=Connecta al servei de xarxa de marcatge (DUN)
Comment[ca@valencia]=Connecta al servei de xarxa de marcatge (DUN)
Comment[cs]=Připojit ke službě vytáčecí sítě (DUN)
Comment[da]=Forbind til modem-netværktjeneste (DUN)
Comment[de]=Zu einem Einwahlnetzwerk (DUN) verbinden
Comment[el]=Σύνδεση στην υπηρεσία δικτύου μέσω τηλεφώνου (DUN)
Comment[es]=Conectar con el servicio de red telefónica conmutada (RTC)
Comment[et]=Ühendumine sissehelistamisteenusega (DUN)
Comment[fi]=Yhdistä valintaverkkopalveluun (DUN)
Comment[fr]=Se connecte au service DUN (Dial Up Network)
Comment[gl]=Conectarse a un servizo de conexión por liña conmutada (DUN).
Comment[hu]=Kapcsolódás betárcsázós hálózathoz (DUN)
Comment[it]=Connetti ad un servizio di rete dial-up (DUN)
Comment[kk]=Желіге қашықтан қатынау (DUN) қызметіне қосылу
Comment[km]=តភ្ជាប់​ទៅកាន់​សេវាកម្ម​ Dial Up Network (DUN)
Comment[lt]=Prisijungti prie Dial Up tinklo tarnybos (DUN)
Comment[mr]=डायल अप संजाळ सेवेस (DUN) जोडा
Comment[nb]=Koble til oppringt nettverkstjeneste (DUN)
Comment[nl]=Met de inbelnetwerkservice verbinden (DUN)
Comment[pa]=ਡਾਇਲ ਅੱਪ ਨੈੱਟਵਰਕ ਸਰਵਿਸ (DUN) ਨਾਲ ਕੁਨੈਕਟ ਕਰੋ
Comment[pl]=Połącz z usługą sieci z wdzwanianiem (DUN)
Comment[pt]=Ligar ao serviço de Rede-a-Pedido (DUN)
Comment[pt_BR]=Conectar ao serviço de linha discada (DUN)
Comment[ru]=Подключение к коммутируемой сети (DUN)
Comment[sk]=Pripojiť na vytáčanú službu (DUN)
Comment[sl]=Poveži se z omrežno storitvijo klicne povezave (DUN) 
Comment[sr]=Повезивање са сервисом модемске мреже (ДУН)
Comment[sr@ijekavian]=Повезивање са сервисом модемске мреже (ДУН)
Comment[sr@ijekavianlatin]=Povezivanje sa servisom modemske mreže (DUN)
Comment[sr@latin]=Povezivanje sa servisom modemske mreže (DUN)
Comment[sv]=Anslut till uppringd nätverkstjänst (DUN)
Comment[tr]=Çevirmeli Ağ servisine bağlan (DUN)
Comment[uk]=Встановити зв’язок з службою комутованої мережі (DUN)
Comment[x-test]=xxConnect to Dial Up Network service (DUN)xx
Comment[zh_CN]=连接到拨号网络服务(DUN)
Comment[zh_TW]=連線到撥號網路服務（DUN）
Name=DUN
Name[ar]=شبكة الطلب الهاتفي
Name[bs]=DUN
Name[ca]=DUN
Name[ca@valencia]=DUN
Name[cs]=DUN
Name[da]=DUN
Name[de]=DUN
Name[el]=DUN
Name[es]=RTC
Name[et]=DUN
Name[fi]=DUN
Name[fr]=DUN
Name[gl]=DUN
Name[hu]=DUN
Name[it]=DUN
Name[kk]=DUN
Name[km]=DUN
Name[lt]=DUN
Name[mr]=DUN
Name[nb]=DUN
Name[nl]=DUN
Name[pa]=DUN
Name[pl]=DUN
Name[pt]=DUN
Name[pt_BR]=DUN
Name[ro]=DUN
Name[ru]=DUN
Name[sk]=DUN
Name[sl]=DUN
Name[sr]=ДУН
Name[sr@ijekavian]=ДУН
Name[sr@ijekavianlatin]=DUN
Name[sr@latin]=DUN
Name[sv]=DUN
Name[tr]=DUN
Name[uk]=DUN
Name[x-test]=xxDUNxx
Name[zh_CN]=DUN
Name[zh_TW]=DUN
GenericName=DUN
GenericName[ar]=شبكة الطلب الهاتفي
GenericName[bs]=DUN
GenericName[ca]=DUN
GenericName[ca@valencia]=DUN
GenericName[cs]=DUN
GenericName[da]=DUN
GenericName[de]=DUN
GenericName[el]=DUN
GenericName[es]=RTC
GenericName[et]=DUN
GenericName[fi]=DUN
GenericName[fr]=DUN
GenericName[gl]=DUN
GenericName[hu]=DUN
GenericName[it]=DUN
GenericName[kk]=DUN
GenericName[km]=DUN
GenericName[lt]=DUN
GenericName[mr]=DUN
GenericName[nb]=DUN
GenericName[nl]=DUN
GenericName[pa]=DUN
GenericName[pl]=DUN
GenericName[pt]=DUN
GenericName[pt_BR]=DUN
GenericName[ro]=DUN
GenericName[ru]=DUN
GenericName[sk]=DUN
GenericName[sl]=DUN
GenericName[sr]=ДУН
GenericName[sr@ijekavian]=ДУН
GenericName[sr@ijekavianlatin]=DUN
GenericName[sr@latin]=DUN
GenericName[sv]=DUN
GenericName[tr]=DUN
GenericName[uk]=DUN
GenericName[x-test]=xxDUNxx
GenericName[zh_CN]=DUN
GenericName[zh_TW]=DUN
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkdunactionplugin
X-KDE-PluginInfo-Name=Network DUN
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001103-0000-1000-8000-00805F9B34FB
