[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to Dial Up Network service (DUN)
Comment[cs]=Připojit ke službě vytáčecí sítě (DUN)
Comment[da]=Forbind til modem-netværktjeneste (DUN)
Comment[hu]=Kapcsolódás betárcsázós hálózathoz (DUN)
Comment[it]=Connetti ad un servizio di rete dial-up (DUN)
Comment[nb]=Koble til oppringt nettverkstjeneste (DUN)
Comment[nl]=Met de inbelnetwerkservice verbinden (DUN)
Comment[pt]=Ligar ao serviço de Rede-a-Pedido (DUN)
Comment[pt_BR]=Conectar ao serviço de linha discada (DUN)
Comment[ru]=Подключение к коммутируемой сети (DUN)
Comment[sv]=Anslut till uppringd nätverkstjänst (DUN)
Comment[uk]=Встановити зв’язок з службою комутованої мережі (DUN)
Comment[x-test]=xxConnect to Dial Up Network service (DUN)xx
Name=DUN
Name[cs]=DUN
Name[da]=DUN
Name[de]=DUN
Name[hu]=DUN
Name[it]=DUN
Name[nb]=DUN
Name[nl]=DUN
Name[pa]=DUN
Name[pt]=DUN
Name[pt_BR]=DUN
Name[ru]=DUN
Name[sv]=DUN
Name[uk]=DUN
Name[x-test]=xxDUNxx
GenericName=DUN
GenericName[cs]=DUN
GenericName[da]=DUN
GenericName[de]=DUN
GenericName[hu]=DUN
GenericName[it]=DUN
GenericName[nb]=DUN
GenericName[nl]=DUN
GenericName[pa]=DUN
GenericName[pt]=DUN
GenericName[pt_BR]=DUN
GenericName[ru]=DUN
GenericName[sv]=DUN
GenericName[uk]=DUN
GenericName[x-test]=xxDUNxx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkdunactionplugin
X-KDE-PluginInfo-Name=Network DUN
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001103-0000-1000-8000-00805F9B34FB
