[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to Dial Up Network service (DUN)
Comment[bs]=Povezivanje na telefonsko-modemsku vezu (DUN)
Comment[ca]=Connecta al servei de xarxa de marcatge (DUN)
Comment[cs]=Připojit ke službě vytáčecí sítě (DUN)
Comment[da]=Forbind til modemnetværk-tjenesten (DUN)
Comment[es]=Conectar con el servicio de red telefónica conmutada (RTC)
Comment[it]=Connetti ad un servizio di rete dial-up (DUN)
Comment[nb]=Koble til oppringt nettverkstjeneste (DUN)
Comment[nl]=Met de inbelnetwerkservice verbinden (DUN)
Comment[pt_BR]=Conectar ao serviço de linha discada (DUN)
Comment[sk]=Pripojiť na vytáčanú službu (DUN)
Comment[sv]=Anslut till uppringd nätverkstjänst (DUN)
Comment[uk]=Встановити зв’язок з службою комутованої мережі (DUN)
Comment[x-test]=xxConnect to Dial Up Network service (DUN)xx
Name=DUN
Name[bs]=DUN
Name[ca]=DUN
Name[cs]=DUN
Name[da]=DUN
Name[es]=RTC
Name[it]=DUN
Name[nb]=DUN
Name[nl]=DUN
Name[pt_BR]=DUN
Name[sk]=DUN
Name[sv]=DUN
Name[uk]=DUN
Name[x-test]=xxDUNxx
GenericName=DUN
GenericName[bs]=DUN
GenericName[ca]=DUN
GenericName[cs]=DUN
GenericName[da]=DUN
GenericName[es]=RTC
GenericName[it]=DUN
GenericName[nb]=DUN
GenericName[nl]=DUN
GenericName[pt_BR]=DUN
GenericName[sk]=DUN
GenericName[sv]=DUN
GenericName[uk]=DUN
GenericName[x-test]=xxDUNxx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkdunactionplugin
X-KDE-PluginInfo-Name=Network DUN
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001103-0000-1000-8000-00805F9B34FB
