[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Network connect
Comment=BlueDevil Network connect
GenericName=BlueDevil Network connect
MimeType=application/vnd.kde.bluedevil-network-panu;
Exec=bluedevil-network %U
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network
NoDisplay=true
