[Desktop Entry]
Name=Bluetooth
Name[ar]=بلوتوث
Name[ast]=Bluetooth
Name[az]=Bluetooth
Name[bs]=Blutut
Name[ca]=Bluetooth
Name[ca@valencia]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[gl]=Bluetooth
Name[he]=בלוטוס
Name[hsb]=Bluetooth
Name[hu]=Bluetooth
Name[ia]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[nb]=Bluetooth
Name[nl]=Bluetooth
Name[nn]=Bluetooth
Name[pa]=ਬਲੂਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[sr@ijekavianlatin]=Bluetooth
Name[sr@latin]=Bluetooth
Name[sv]=Blåtand
Name[tg]=Bluetooth
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍牙
Comment=Manage Bluetooth devices
Comment[ar]=أدر أجهزة بلوتوث
Comment[ast]=Xestiona preseos Bluetooth
Comment[az]=Bluetooth Cihazlarının İdarə edilməsi
Comment[ca]=Gestiona els dispositius Bluetooth
Comment[ca@valencia]=Gestiona els dispositius Bluetooth
Comment[cs]=Spravovat zařízení Bluetooth
Comment[de]=Bluetooth-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Bluetooth
Comment[en_GB]=Manage Bluetooth devices
Comment[es]=Gestión de dispositivos Bluetooth
Comment[et]=Bluetoothi seadmete haldamine
Comment[eu]=Kudeatu Bluetooth gailuak
Comment[fi]=Hallitse Bluetooth-laitteita
Comment[fr]=Gérer les périphériques « Bluetooth »
Comment[hsb]=Bluetooth-graty rjadować
Comment[hu]=Bluetooth eszközök kezelése
Comment[ia]=Gere dispositivos bluetooth
Comment[it]=Gestisci i dispositivi Bluetooth
Comment[ko]=블루투스 장치 관리
Comment[lt]=Tvarkyti Bluetooth įrenginius
Comment[nl]=Bluetooth-apparaten beheren
Comment[nn]=Handsam Bluetooth-einingar
Comment[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸ ਦਾ ਇੰਤਜ਼ਾਮ
Comment[pl]=Zarządzanie urządzeniami Bluetooth
Comment[pt]=Gerir os dispositivos Bluetooth
Comment[pt_BR]=Gerenciar dispositivos Bluetooth
Comment[ro]=Gestionează dispozitive Bluetooth
Comment[ru]=Управление устройствами Bluetooth
Comment[sk]=Spravovať Bluetooth zariadenia
Comment[sl]=Upravljaj z napravami Bluetooth
Comment[sv]=Hantera Blåtandsenheter
Comment[tr]=Bluetooth Aygıtlarını Yönet
Comment[uk]=Керування пристроями Bluetooth
Comment[x-test]=xxManage Bluetooth devicesxx
Comment[zh_CN]=管理蓝牙设备
X-KDE-Keywords=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices
X-KDE-Keywords[az]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,avadanlıq,bağlantı,cihaz,cihazı tapmaq,kəsilmə,fayl göndərmək,fayl qəbulu,köçürmə,görünən,uzlaşdırıcı,sancaq,etibarlı cihazlar
X-KDE-Keywords[ca]=bluetooth, maquinari,connexió,dispositius,troba els dispositius,connecta,desconnecta,envia un fitxer,rep un fitxer,transferència,sense fil,visible,adaptador,pin,dispositius de confiança
X-KDE-Keywords[ca@valencia]=bluetooth, maquinari,connexió,dispositius,troba els dispositius,connecta,desconnecta,envia un fitxer,rep un fitxer,transferència,sense fil,visible,adaptador,pin,dispositius de confiança
X-KDE-Keywords[cs]=bluetooth,hardware,spojení,zařízení,najít zařízení,spojit,odpojit,poslat soubor,přijmout soubor,přenos,bezdrátové,viditelné,adaptér,pin,důvěryhodná zařízení
X-KDE-Keywords[el]=bluetooth,υλικό,σύνδεση,συσκευές,εύρεση συσκευών,σύνδεση,αποσύνδεση,αποστολή αρχείου,λήψη αρχείου,μεταφορά,ασύρματο,ορατό,προσαρμογέας,κωδικός,έμπιστες συσκευές
X-KDE-Keywords[en_GB]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adaptor,pin,trusted devices
X-KDE-Keywords[es]=bluetooth,hardware,conexión,dispositivos,encontrar dispositivos,conectar,desconectar,enviar archivo,recibir archivo,transferir,inalámbrica,visible,adaptador,pin,dispositivos de confianza
X-KDE-Keywords[eu]=bluetooth,hardware,konexioa,gailuak,gailuak aurkitzea,konektatzea,deskonektatzea,fitxategia bidaltzea,fitxategia jasotzea,transferentzia,haririk gabekoa,ikusgaia,egokitzailea,pin,konfiantzako gailuak
X-KDE-Keywords[fi]=bluetooth,laitteisto,yhteys,laite,laitteet,etsi laitteita,yhdistä,katkaise,lähetä tiedosto,vastaanota tiedosto,lataa tiedosto,siirrä,siirto,langaton,näkyvä,näkyvissä,sovitin,pin,luotetut laitteet,luotettu laite
X-KDE-Keywords[fr]=bluetooth, matériel, connexion, périphériques, recherche de périphériques, connexion, déconnexion, envoi de fichiers, réception de fichiers, sans fil, visible, adaptateur, code pin, périphériques de confiance
X-KDE-Keywords[hsb]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,grat,zwisk,grat namakać, zwjazać,dataja,dataju pósłać,dataju dóstać
X-KDE-Keywords[hu]=bluetooth,hardver,kapcsolat,eszközök,eszközök keresése,kapcsolódás,leválaszáts,fájl küldése,fájl fogadása,átvitel,vezeték nélküli,látható,adapter,pin,megbízható eszközk
X-KDE-Keywords[ia]=bluetooth,hardware,connexion,dispositivoss,trova dispositivos,connecte,disconnecte,invia file,recipe file,transfere,sin cablo,visibile,adaptator,pin,dispositivos digne de fide
X-KDE-Keywords[ko]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,블루투스,하드웨어,연결,장치,장치 찾기,연결 해제,파일 전송,파일 보내기,파일 받기,무선,표시,어댑터,페어링
X-KDE-Keywords[lt]=bluetooth,aparatinė įranga,aparatine iranga,ryšiai,rysiai,ryšys,rysys,įrenginiai,irenginiai,rasti įrenginius,rasti irenginius,ieškoti įrenginių,ieskoti irenginiu,ieškoti įrenginius,ieskoti irenginius,prisijungti,atsijungti,siųsti failą,siusti faila,gauti failą,gauti faila,persiųsti,persiusti,perduoti,belaidis,matomas,adapteris,pin,pin kodas,patikimi įrenginiai,patikimi irenginiai
X-KDE-Keywords[nl]=bluetooth,hardware,verbinding,apparaten,apparaten zoeken,verbinden,verbreken,bestand verzenden,bestand ontvangen,overdracht,draadloos,zichtbaar,adapter,pin,vertrouwde apparaten
X-KDE-Keywords[pl]=bluetooth,sprzęt,podłączenie,urządzenia,znajdź urządzenia,podłącz,odłącz,wyślij plik,odbierz plik,przesył,bezprzewodowo,widoczność,adapter,pin,zaufane urządzenia
X-KDE-Keywords[pt_BR]=bluetooth,hardware,conexão,dispositivos,encontrar dispositivos,conectar,desconectar,enviar arquivo,receber arquivo,transferência,sem fio,wireless,visível,adaptador,pin,dispositivos confiáveis
X-KDE-Keywords[ru]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,оборудование,соединение,устройство,поиск,подключение,отключение,передать файл,получить файл,видимость,адаптер,пин,доверенные устройства
X-KDE-Keywords[sk]=bluetooth,hardvér,pripojenie,zariadenia,hľadať zariadenia,pripojiť,odpojiť,odoslať súbor,prijať súbor,preniesť,bezdrôtové,viditeľný,adaptér,pin,dôveryhodné zariadenia
X-KDE-Keywords[sl]=bluetooth,strojna oprema,povezava,naprave,najdi naprave,priklopi,odklopi,pošlji datoteko,prejmi datoteko,prenos,brezžično,vidno,adapter,pin,zaupanja vredne naprave
X-KDE-Keywords[sv]=blåtand,maskinvara,anslutning,enheter,sök enheter,anslut,koppla ner,skicka fil,ta emot fil,överföring,trådlös,synlig,adapter,pin-kod,pålitliga enheter
X-KDE-Keywords[tr]=bluetooth,donanım,bağlantı,cihazlar,cihazları bul,bağlan,bağlantıyı kes, gönder dosya,dosya al,aktar,kablosuz,görünür,bağdaştırıcı,pin,güvenilir cihazlar
X-KDE-Keywords[uk]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,блютуф,апаратура,обладнання,з'єднання,пристрої,пошук пристроїв,з'єднання,від'єднання,надіслати файл,отримати файл,передавання,бездротовий,видимий,адаптер,пін,довірені пристрої
X-KDE-Keywords[x-test]=xxbluetoothxx,xxhardwarexx,xxconnectionxx,xxdevicesxx,xxfind devicesxx,xxconnectxx,xxdisconnectxx,xxsend filexx,xxreceive filexx,xxtransferxx,xxwirelessxx,xxvisiblexx,xxadapterxx,xxpinxx,xxtrusted devicesxx
X-KDE-Keywords[zh_CN]=bluetooth,hardware,connection,devices,find devices,connect,disconnect,send file,receive file,transfer,wireless,visible,adapter,pin,trusted devices,蓝牙,硬件,连接,设备,查找设备,断开连接,发送文件,接收文件,传输,无线,可见性,适配器,已信任设备,信任设备,已信任的设备,信任的设备
Encoding=UTF-8
Type=Service
Icon=preferences-system-bluetooth
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_bluetooth
X-KDE-PluginInfo-Author=Nicolas Fella
X-KDE-PluginInfo-Email=nicolas.fella@gmx.de
X-KDE-PluginInfo-Name=kcm_bluetooth
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter,desktop
X-Plasma-Package=kcm_bluetooth
X-Plasma-MainScript=ui/Bluetooth.qml
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
