[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=bluedevil
X-KDE-DBus-ModuleName=bluedevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Bluetooth
Name[cs]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[es]=Bluetooth
Name[mr]=ब्लूटूथ
Name[nl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[sr@ijekavianlatin]=Bluetooth
Name[sr@latin]=Bluetooth
Name[sv]=Blåtand
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx
Name[zh_TW]=藍牙

Comment=Handles Bluetooth events
Comment[el]=Χειρίζεται γεγονότα Bluetooth
Comment[es]=Maneja eventos de Bluetooth
Comment[mr]=ब्लूटूथ घटना हाताळतो
Comment[nl]=Behandelt bluetooth-gebeurtenissen
Comment[pt]=Lida com os eventos de Bluetooth
Comment[pt_BR]=Lida com os eventos de Bluetooth
Comment[sk]=Spracúva udalosti Bluetooth
Comment[sl]=Obravnava dogodke za Bluetooth
Comment[sr]=Рукује блутут догађајима
Comment[sr@ijekavian]=Рукује блутут догађајима
Comment[sr@ijekavianlatin]=Rukuje bluetooth događajima
Comment[sr@latin]=Rukuje bluetooth događajima
Comment[sv]=Hanterar Blåtandhändelser
Comment[tr]=Bluetooth olaylarını ele alır
Comment[uk]=Обробляє події Bluetooth
Comment[x-test]=xxHandles Bluetooth eventsxx
Comment[zh_TW]=處理藍牙事件
