[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=bluedevil
X-KDE-DBus-ModuleName=bluedevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=BlueDevil
Name[ar]=بلوديفل
Name[ca]=BlueDevil
Name[ca@valencia]=BlueDevil
Name[cs]=BlueDevil
Name[da]=BlueDevil
Name[de]=BlueDevil
Name[el]=BlueDevil
Name[en_GB]=BlueDevil
Name[es]=BlueDevil
Name[et]=BlueDevil
Name[fi]=BlueDevil
Name[fr]=BlueDevil
Name[ga]=BlueDevil
Name[hu]=BlueDevil
Name[it]=BlueDevil
Name[km]=BlueDevil
Name[nb]=BlueDevil
Name[nds]=BlueDevil
Name[nl]=BlueDevil
Name[pa]=BlueDevil
Name[pl]=BlueDevil
Name[pt]=BlueDevil
Name[pt_BR]=BlueDevil
Name[ro]=BlueDevil
Name[ru]=BlueDevil
Name[sk]=BlueDevil
Name[sl]=BlueDevil
Name[sr]=Блудевил
Name[sr@ijekavian]=Блудевил
Name[sr@ijekavianlatin]=BlueDevil
Name[sr@latin]=BlueDevil
Name[sv]=Blådjävul
Name[th]=บลูดีวิล
Name[tr]=BlueDevil
Name[ug]=BlueDevil
Name[uk]=BlueDevil
Name[x-test]=xxBlueDevilxx
Name[zh_CN]=BlueDevil
Name[zh_TW]=BlueDevil

Comment=Bluetooth Management Daemon
Comment[ar]=مراقب إدارة بلوتوث
Comment[bs]=Demon za upravljanje blututom
Comment[ca]=Dimoni de gestió del Bluetooth
Comment[ca@valencia]=Dimoni de gestió del Bluetooth
Comment[cs]=Démon pro správu Bluetooth
Comment[da]=Dæmon til bluetooth-håndtering
Comment[de]=Bluetooth-Verwaltungshilfsdienst
Comment[el]=Δαίμονας διαχείρισης Bluetooth
Comment[en_GB]=Bluetooth Management Dæmon
Comment[es]=Demonio de gestión de Bluetooth
Comment[et]=BlueDevili haldusdeemon
Comment[fi]=Bluetooth-hallintataustaprosessi
Comment[fr]=Démon de gestion de Bluetooth
Comment[hu]=Bluetooth kezelő démon
Comment[it]=Demone di gestione Bluetooth
Comment[km]=ដេមិន​គ្រប់គ្រង​ប្លូធូស
Comment[nb]=Bluetooth styringsnisse
Comment[nds]=Bluetooth-Plegerdämoon
Comment[nl]=Bluetooth-beheerdaemon
Comment[pa]=ਬਲਿਊਟੁੱਥ ਪਰਬੰਧ ਡੈਮਨ
Comment[pl]=Demon zarządzania Bluetooth
Comment[pt]=Servidor de Gestão de Bluetooth
Comment[pt_BR]=Daemon do gerenciamento de Bluetooth
Comment[ro]=Demon de gestiune Bluetooth
Comment[ru]=Служба управления Bluetooth
Comment[sk]=Démon na správu Bluetooth
Comment[sl]=Pritajeni program za upravljanje z Bluetooth
Comment[sr]=Демон за управљање блутутом
Comment[sr@ijekavian]=Демон за управљање блутутом
Comment[sr@ijekavianlatin]=Demon za upravljanje Bluetoothom
Comment[sr@latin]=Demon za upravljanje Bluetoothom
Comment[sv]=Blåtandhanteringsdemon
Comment[th]=ดีมอนจัดการบลูทูท
Comment[tr]=Bluetooth Yönetim Hizmeti
Comment[ug]=كۆكچىش باشقۇرۇش Daemon
Comment[uk]=Фонова служба керування Bluetooth
Comment[x-test]=xxBluetooth Management Daemonxx
Comment[zh_CN]=蓝牙管理守护进程
Comment[zh_TW]=藍芽管理伺服程式
