[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows you to send files to the remote device
Comment[da]=Lader dig sende filer til den eksterne enhed
Comment[en_GB]=Allows you to send files to the remote device
Comment[pt]=Permite-lhe enviar os ficheiros para o dispositivo remoto
Comment[pt_BR]=Permite-lhe enviar arquivos para o dispositivo remoto
Comment[sv]=Låter dig skicka filer till fjärrenheten
Comment[uk]=Надає вам змогу надсилати файли на віддалений пристрій
Comment[x-test]=xxAllows you to send files to the remote devicexx
Comment[zh_TW]=允許您傳送檔案到遠端裝置
Name=Send File
Name[da]=Send fil
Name[en_GB]=Send File
Name[nds]=Datei loosstüern
Name[nl]=Bestand verzenden
Name[pt]=Enviar o Ficheiro
Name[pt_BR]=Enviar arquivo
Name[sv]=Skicka fil
Name[uk]=Надсилання файла
Name[x-test]=xxSend Filexx
Name[zh_TW]=傳送檔案
GenericName=Send file
GenericName[da]=Send fil
GenericName[en_GB]=Send file
GenericName[nds]=Datei loosstüern
GenericName[pt]=Enviar um ficheiro
GenericName[pt_BR]=Enviar arquivo
GenericName[sv]=Skicka fil
GenericName[uk]=Надсилання файла
GenericName[x-test]=xxSend filexx
GenericName[zh_TW]=傳送檔案
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilsendfileactionplugin
X-KDE-PluginInfo-Name=Send File
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL

X-BlueDevil-UUIDS=00001105-0000-1000-8000-00805F9B34FB
