[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows you to send files to the remote device
Comment[pt]=Permite-lhe enviar os ficheiros para o dispositivo remoto
Comment[sv]=Låter dig skicka filer till fjärrenheten
Comment[uk]=Надає вам змогу надсилати файли на віддалений пристрій
Comment[x-test]=xxAllows you to send files to the remote devicexx
Name=Send File
Name[nds]=Datei loosstüern
Name[pt]=Enviar o Ficheiro
Name[sv]=Skicka fil
Name[uk]=Надсилання файла
Name[x-test]=xxSend Filexx
GenericName=Send file
GenericName[nds]=Datei loosstüern
GenericName[pt]=Enviar um ficheiro
GenericName[sv]=Skicka fil
GenericName[uk]=Надсилання файла
GenericName[x-test]=xxSend filexx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilsendfileactionplugin
X-KDE-PluginInfo-Name=Send File
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL

X-BlueDevil-UUIDS=00001105-0000-1000-8000-00805F9B34FB
