[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows you to send files to the remote device
Comment[ar]=يسمح لك بإرسال الملفات إلى الجهاز البعيد
Comment[bs]=Omogućava vam da šaljete datoteke na udaljene uređaje
Comment[ca]=Us permet enviar fitxer al dispositiu remot
Comment[ca@valencia]=Vos permet enviar fitxer al dispositiu remot
Comment[cs]=Umožní vám odesílat soubory na vzdálené zařízení
Comment[da]=Lader dig sende filer til den eksterne enhed
Comment[de]=Ermöglicht Ihnen, Dateien zu entfernten Geräten zu senden
Comment[el]=Επιτρέπει την αποστολή αρχείων στην απομακρυσμένη συσκευή
Comment[en_GB]=Allows you to send files to the remote device
Comment[es]=Le permite enviar archivos a un dispositivo remoto
Comment[et]=Võimaldab saata faile kaugseadmesse
Comment[fi]=Sallii sinun lähettää tiedostoja etälaitteelle
Comment[fr]=Permet d'envoyer des fichiers au périphérique distant
Comment[gl]=Permite enviar ficheiros a un dispositivo remoto.
Comment[hu]=Lehetővé teszi fájlok küldését egy távoli eszközre
Comment[it]=Ti permette di inviare file ad un dispositivo remoto
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​ផ្ញើ​ឯកសារ​ទៅកាន់​ឧបករណ៍​ពី​ចម្ងាយ​
Comment[lt]=Leidžia Jums siųsti failus į išorinį įrenginį
Comment[mr]=दूरस्थ साधनास फाईल पाठविण्यास मदत करतो
Comment[nb]=Gjør at du kan sende filer til fjernenheten
Comment[nds]=Dateien na en feern Reedschap loosstüern
Comment[nl]=Stelt u in staat om bestanden te verzenden naar het externe apparaat
Comment[pa]=ਤੁਹਾਨੂੰ ਰਿਮੋਟ ਜੰਤਰ ਉੱਤੇ ਫਾਇਲਾਂ ਭੇਜਣ ਲਈ ਸਹਾਇਕ ਹੈ
Comment[pl]=Pozwala tobie na wysłanie plików do urządzenia zdalnego
Comment[pt]=Permite-lhe enviar os ficheiros para o dispositivo remoto
Comment[pt_BR]=Permite-lhe enviar arquivos para o dispositivo remoto
Comment[ro]=Vă permite să expediați fișiere către dispozitivul distant
Comment[ru]=Позволяет отправлять файлы удалённому устройству
Comment[sk]=Umožní vám poslať súbory na vzdialené zariadenie
Comment[sl]=Omogoča pošiljanje datotek na oddaljeno napravo
Comment[sr]=Омогућава вам да шаљете фајлове на удаљене уређаје
Comment[sr@ijekavian]=Омогућава вам да шаљете фајлове на удаљене уређаје
Comment[sr@ijekavianlatin]=Omogućava vam da šaljete fajlove na udaljene uređaje
Comment[sr@latin]=Omogućava vam da šaljete fajlove na udaljene uređaje
Comment[sv]=Låter dig skicka filer till fjärrenheten
Comment[th]=อนุญาตให้คุณส่งแฟ้มต่างๆ ไปยังอุปกรณ์ภายนอกได้
Comment[tr]=Uzak aygıta dosya göndermenizi sağlar
Comment[ug]=يىراقتىكى ئۈسكۈنىگە ھۆججەتلەرنى يوللاشقا ئىجازەت بېرىدۇ
Comment[uk]=Надає вам змогу надсилати файли на віддалений пристрій
Comment[x-test]=xxAllows you to send files to the remote devicexx
Comment[zh_CN]=支持通过远程设备发送文件
Comment[zh_TW]=允許您傳送檔案到遠端裝置
Name=Send File
Name[ar]=أرسل ملف
Name[bs]=Pošalji datoteku
Name[ca]=Envia fitxer
Name[ca@valencia]=Envia fitxer
Name[cs]=Poslat soubor
Name[da]=Send fil
Name[de]=Datei senden
Name[el]=Αποστολή αρχείου
Name[en_GB]=Send File
Name[es]=Enviar archivo
Name[et]=Faili saatmine
Name[fa]=ارسال پرونده‌
Name[fi]=Lähetä tiedosto
Name[fr]=Envoi de fichier
Name[gl]=Enviar un ficheiro
Name[hu]=Fájlküldés
Name[it]=Invio file
Name[km]=ផ្ញើ​ឯកសារ​
Name[lt]=Siųsti failą
Name[mai]=फाइल पठाउ
Name[mr]=फाईल पाठवा
Name[nb]=Send fil
Name[nds]=Datei loosstüern
Name[nl]=Bestand verzenden
Name[pa]=ਫਾਇਲ ਭੇਜੋ
Name[pl]=Wyślij plik
Name[pt]=Enviar o Ficheiro
Name[pt_BR]=Enviar arquivo
Name[ro]=Expediază fișier
Name[ru]=Отправка файлов
Name[sk]=Odoslať súbor
Name[sl]=Pošlji datoteko
Name[sr]=Слање фајла
Name[sr@ijekavian]=Слање фајла
Name[sr@ijekavianlatin]=Slanje fajla
Name[sr@latin]=Slanje fajla
Name[sv]=Skicka fil
Name[th]=ส่งแฟ้ม
Name[tr]=Dosya Gönder
Name[ug]=ھۆججەت يوللاش
Name[uk]=Надсилання файла
Name[x-test]=xxSend Filexx
Name[zh_CN]=发送文件
Name[zh_TW]=傳送檔案
GenericName=Send file
GenericName[ar]=أرسل ملف
GenericName[bs]=Slanje datoteke
GenericName[ca]=Envia fitxer
GenericName[ca@valencia]=Envia fitxer
GenericName[cs]=Poslat soubor
GenericName[da]=Send fil
GenericName[de]=Datei senden
GenericName[el]=Αποστολή αρχείου
GenericName[en_GB]=Send file
GenericName[es]=Enviar archivo
GenericName[et]=Faili saatmine
GenericName[fa]=ارسال پرونده‌
GenericName[fi]=Lähetä tiedosto
GenericName[fr]=Envoie un fichier
GenericName[gl]=Enviar un ficheiro
GenericName[hu]=Fájlküldés
GenericName[it]=Invio file
GenericName[km]=ផ្ញើ​ឯកសារ​
GenericName[lt]=Siųsti failą
GenericName[mr]=फाईल पाठवा
GenericName[nb]=Send fil
GenericName[nds]=Datei loosstüern
GenericName[nl]=Bestand verzenden
GenericName[pa]=ਫਾਇਲ ਭੇਜੋ
GenericName[pl]=Wyślij plik
GenericName[pt]=Enviar um ficheiro
GenericName[pt_BR]=Enviar arquivo
GenericName[ro]=Expediază fișier
GenericName[ru]=Отправка файлов
GenericName[sk]=Odoslať súbor
GenericName[sl]=Pošlji datoteko
GenericName[sr]=Слање фајла
GenericName[sr@ijekavian]=Слање фајла
GenericName[sr@ijekavianlatin]=Slanje fajla
GenericName[sr@latin]=Slanje fajla
GenericName[sv]=Skicka fil
GenericName[th]=ส่งแฟ้ม
GenericName[tr]=Dosya gönder
GenericName[ug]=ھۆججەت ئەۋەت
GenericName[uk]=Надсилання файла
GenericName[x-test]=xxSend filexx
GenericName[zh_CN]=发送文件
GenericName[zh_TW]=傳送檔案
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilsendfileactionplugin
X-KDE-PluginInfo-Name=Send File
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL

X-BlueDevil-UUIDS=00001105-0000-1000-8000-00805F9B34FB
