[Desktop Entry]
Name=Bluetooth
Name[bs]=Blutut
Name[ca]=Bluetooth
Name[cs]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[gl]=Bluetooth
Name[hu]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[nb]=Blåtann
Name[nl]=Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[sr@ijekavianlatin]=Bluetooth
Name[sr@latin]=Bluetooth
Name[sv]=Blåtand
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx
Name[zh_CN]=蓝牙
Name[zh_TW]=藍牙

Comment=Bluetooth status and control
Comment[ca]=Estat i control del Bluetooth
Comment[cs]=Stav a ovládání Bluetooth
Comment[de]=Bluetooth-Status und -steuerung
Comment[en_GB]=Bluetooth status and control
Comment[es]=Estado y control de Bluetooth
Comment[fi]=Bluetoothin tila ja hallinta
Comment[gl]=Control e estado de Bluetooth
Comment[hu]=Bluetooth állapot és vezérlés
Comment[it]=Stato e controllo del Bluetooth
Comment[nl]=Status en besturing van bluetooth
Comment[pl]=Stan i sterowanie Bluetooth
Comment[pt]=Estado e controlo do Bluetooth
Comment[pt_BR]=Status e controle do Bluetooth
Comment[ru]=Состояние и управление Bluetooth
Comment[sk]=Stav a ovládanie Bluetooth
Comment[sl]=Stanje Bluetootha in nadzor
Comment[sv]=Bllåtandstatus och kontroll
Comment[uk]=Стан Bluetooth і керування ним
Comment[x-test]=xxBluetooth status and controlxx
Comment[zh_CN]=蓝牙状态和控制

Icon=preferences-system-bluetooth
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/BluetoothApplet.qml

X-Plasma-NotificationArea=true
X-Plasma-DBusActivationService=org.bluez

X-KDE-PluginInfo-Name=org.kde.plasma.bluetooth
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Author=David Rosca
X-KDE-PluginInfo-Email=nowrep@gmail.com
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://projects.kde.org/projects/kde/workspace/bluedevil
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
