[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of an audio device
Name=Audio
GenericName=Audio
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=audio
X-KDE-PluginInfo-Name=Audio
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL

X-BlueDevil-UUIDS=00001108-0000-1000-8000-00805F9B34FB