[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of an audio device
Comment[ca]=Gestiona la connexió i la configuració d'un dispositiu d'àudio
Comment[da]=Håndterer forbindelse og konfiguration af en lydenhed
Comment[en_GB]=Handles the connection and configuration of an audio device
Comment[es]=Controla la conexión y configuración de un dispositivo de audio
Comment[et]=Heliseadme ühenduse ja seadistamine haldamine
Comment[fr]=Gère la connexion et la configuration d'un périphérique audio
Comment[hu]=Kezeli az audioeszköz kapcsolatát ás beállításait
Comment[it]=Gestisce la connessione e la configurazione di un dispositivo audio
Comment[nl]=Behandelt de verbinding en instelling van een geluidsapparaat
Comment[pt]=Lida com a ligação e a configuração de um dispositivo de áudio
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de áudio
Comment[sl]=Skrbi za povezavo in nastavitev zvočne naprave
Comment[sv]=Hanterar anslutning och anpassning av en ljudenhet
Comment[uk]=Виконує обробку з’єднання та налаштування звукових пристроїв
Comment[x-test]=xxHandles the connection and configuration of an audio devicexx
Comment[zh_TW]=處理音效裝置的連線與設定
Name=Audio
Name[ca]=Àudio
Name[cs]=Audio
Name[da]=Lyd
Name[de]=Audio
Name[en_GB]=Audio
Name[es]=Audio
Name[et]=Heli
Name[fr]=Audio
Name[hu]=Audio
Name[it]=Audio
Name[mai]=ऑडियो
Name[nds]=Klang
Name[nl]=Geluid
Name[pt]=Áudio
Name[pt_BR]=Áudio
Name[sl]=Zvok
Name[sv]=Ljud
Name[uk]=Звук
Name[x-test]=xxAudioxx
Name[zh_TW]=音效
GenericName=Audio
GenericName[ca]=Àudio
GenericName[cs]=Audio
GenericName[da]=Lyd
GenericName[de]=Audio
GenericName[en_GB]=Audio
GenericName[es]=Audio
GenericName[et]=Heli
GenericName[fr]=Audio
GenericName[hu]=Audio
GenericName[it]=Audio
GenericName[mai]=ऑडियो
GenericName[nds]=Klang
GenericName[nl]=Geluid
GenericName[pt]=Áudio
GenericName[pt_BR]=Áudio
GenericName[sl]=Zvok
GenericName[sv]=Ljud
GenericName[uk]=Звук
GenericName[x-test]=xxAudioxx
GenericName[zh_TW]=音效
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilaudioactionplugin
X-KDE-PluginInfo-Name=Audio
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001108-0000-1000-8000-00805F9B34FB,00001203-0000-1000-8000-00805F9B34FB,0000111E-0000-1000-8000-00805F9B34FB,0000110D-0000-1000-8000-00805F9B34FB,0000110B-0000-1000-8000-00805F9B34FB
