[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to the Audio service
Comment[ar]=وصل بخدمة الصوت
Comment[bs]=Povezivanje na audio uslugu
Comment[ca]=Connecta al servei d'àudio
Comment[ca@valencia]=Connecta al servei d'àudio
Comment[cs]=Připojit ke zvukové službě
Comment[da]=Forbind til lydtjenesten
Comment[de]=Mit Audio-Dienst verbinden
Comment[el]=Σύνδεση στην υπηρεσία ήχου
Comment[es]=Conectar con el servicio de audio
Comment[et]=Ühendumine heliteenusega
Comment[fi]=Yhdistä äänipalveluun
Comment[fr]=Se connecte au service audio
Comment[gl]=Conéctese ao servizo de son.
Comment[hu]=Kapcsolódás hangszolgáltatáshoz
Comment[it]=Connetti al servizio dell'audio
Comment[kk]=Аудио қызметіне қосылу
Comment[km]=តភ្ជាប់​ទៅកាន់​សេវា​កម្ម​អូឌីយ៉ូ
Comment[lt]=Prisijungti prie garso tarnybos
Comment[mr]=ऑडिओ सेवेस जोडा
Comment[nb]=Koble til lydtjenesten
Comment[nds]=Na den Klangdeenst tokoppeln
Comment[nl]=Met de audio-service verbinden
Comment[pa]=ਆਡੀਓ ਸਰਵਿਸ ਨਾਲ ਕੁਨੈਕਟ ਕਰੋ
Comment[pl]=Połącz z usługą dźwiękową
Comment[pt]=Ligar ao serviço de áudio
Comment[pt_BR]=Conectar ao serviço de áudio
Comment[ro]=Conectare la serviciul Audio
Comment[ru]=Подключение к аудиоустройству
Comment[sk]=Pripojiť k zvukovej službe
Comment[sl]=Poveži se z zvočno napravo
Comment[sr]=Повезивање са аудио сервисом
Comment[sr@ijekavian]=Повезивање са аудио сервисом
Comment[sr@ijekavianlatin]=Povezivanje sa audio servisom
Comment[sr@latin]=Povezivanje sa audio servisom
Comment[sv]=Anslut till ljudtjänsten
Comment[tr]=Ses servisine bağlan
Comment[uk]=Встановити зв’язок зі звуковою службою
Comment[x-test]=xxConnect to the Audio servicexx
Comment[zh_CN]=连接到音频服务
Comment[zh_TW]=連線到音效服務
Name=Audio
Name[ar]=الصوت
Name[bs]=Audio
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[cs]=Audio
Name[da]=Lyd
Name[de]=Audio
Name[el]=Ήχος
Name[en_GB]=Audio
Name[es]=Audio
Name[et]=Heli
Name[fa]=صوتی
Name[fi]=Ääni
Name[fr]=Audio
Name[gl]=Son
Name[hu]=Audio
Name[it]=Audio
Name[km]=អូឌីយ៉ូ​
Name[lt]=Garsas
Name[mai]=ऑडियो
Name[mr]=ऑडिओ
Name[ms]=Audio
Name[nb]=Lyd
Name[nds]=Klang
Name[nl]=Geluid
Name[pa]=ਆਡੀਓ
Name[pl]=Dźwięk
Name[pt]=Áudio
Name[pt_BR]=Áudio
Name[ro]=Audio
Name[ru]=Аудиоустройство
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sr]=Аудио
Name[sr@ijekavian]=Аудио
Name[sr@ijekavianlatin]=Audio
Name[sr@latin]=Audio
Name[sv]=Ljud
Name[th]=ระบบเสียง
Name[tr]=Ses
Name[ug]=ئۈن
Name[uk]=Звук
Name[x-test]=xxAudioxx
Name[zh_CN]=音频
Name[zh_TW]=音效
GenericName=Audio
GenericName[ar]=الصوت
GenericName[bs]=Audio
GenericName[ca]=Àudio
GenericName[ca@valencia]=Àudio
GenericName[cs]=Audio
GenericName[da]=Lyd
GenericName[de]=Audio
GenericName[el]=Ήχος
GenericName[en_GB]=Audio
GenericName[es]=Audio
GenericName[et]=Heli
GenericName[fa]=صوتی
GenericName[fi]=Ääni
GenericName[fr]=Audio
GenericName[gl]=Son
GenericName[hu]=Audio
GenericName[it]=Audio
GenericName[km]=អូឌីយ៉ូ​
GenericName[lt]=Garsas
GenericName[mai]=ऑडियो
GenericName[mr]=ऑडिओ
GenericName[ms]=Audio
GenericName[nb]=Lyd
GenericName[nds]=Klang
GenericName[nl]=Geluid
GenericName[pa]=ਆਡੀਓ
GenericName[pl]=Dźwięk
GenericName[pt]=Áudio
GenericName[pt_BR]=Áudio
GenericName[ro]=Audio
GenericName[ru]=Аудиоустройство
GenericName[sk]=Zvuk
GenericName[sl]=Zvok
GenericName[sr]=Аудио
GenericName[sr@ijekavian]=Аудио
GenericName[sr@ijekavianlatin]=Audio
GenericName[sr@latin]=Audio
GenericName[sv]=Ljud
GenericName[th]=ระบบเสียง
GenericName[tr]=Ses
GenericName[ug]=ئۈن
GenericName[uk]=Звук
GenericName[x-test]=xxAudioxx
GenericName[zh_CN]=音频
GenericName[zh_TW]=音效
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilaudioactionplugin
X-KDE-PluginInfo-Name=Audio
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001108-0000-1000-8000-00805F9B34FB,00001203-0000-1000-8000-00805F9B34FB,0000111E-0000-1000-8000-00805F9B34FB,0000110D-0000-1000-8000-00805F9B34FB,0000110B-0000-1000-8000-00805F9B34FB
