[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to Personal Area Network service (PANU)
Comment[ar]=وصل إلى خدمة شبكة منطقة الشخصية(PANU)
Comment[bs]=Povezivanje na ličnu mrežu (PANU)
Comment[ca]=Connecta al servei de xarxa d'àrea personal (PANU)
Comment[ca@valencia]=Connecta al servei de xarxa d'àrea personal (PANU)
Comment[cs]=Připojit ke službě osobní sítě (PANU)
Comment[da]=Forbind til Personal Area Network-tjeneste (PANU)
Comment[de]=Zu einem Personal-Area-Netzwerk (PANU) verbinden
Comment[el]=Σύνδεση στην υπηρεσία προσωπικού δικτύου (PANU)
Comment[es]=Conectar con el servicio de red de área personal (PANU)
Comment[et]=Ühendumine personaavõrgu teenusega (PANU)
Comment[fi]=Yhdistä henkilökohtaisen verkon palveluun (PANU)
Comment[fr]=Se connecte au service PANU (Personal Area Network)
Comment[gl]=Conectarse a un servizo de rede de zona persoal (PANU).
Comment[hu]=Kapcsolódás személyi hálózathoz (PANU)
Comment[it]=Connetti ad un servizio di rete personale (PANU)
Comment[kk]=Дербес желі (PANU) қызметіне қосылу
Comment[km]=តភ្ជាប់​ទៅកាន់​សេវាកម្ម Personal Area Network (PANU)
Comment[lt]=Prisijungti prie asmeninio tinklo (PANU)
Comment[mr]=वैयक्तिक क्षेत्र संजाळ सेवेस (PANU) जोडा
Comment[nb]=Koble til personlig områdenettverk (PANU – personal area network)
Comment[nl]=Met de Personal Area Network-service verbinden (PANU)
Comment[pa]=ਪਰਸਨਲ ਏਰੀਆ ਨੈੱਟਵਰਕ ਸਰਵਿਸ (PANU) ਨਾਲ ਕੁਨੈਕਟ ਕਰੋ
Comment[pl]=Połącz z usługą sieci obszaru osobistego (PANU)
Comment[pt]=Ligar ao serviço de Rede da Área Pessoal (PANU)
Comment[pt_BR]=Conectar ao serviço de rede de área pessoal (PANU)
Comment[ru]=Подключение к персональной сети (PANU)
Comment[sk]=Pripojiť na službu Personal Area Network (PANU)
Comment[sl]=Poveži se z storitvijo Personal Area Network (PANU)
Comment[sr]=Повезивање са сервисом мреже личног подручја (ПАНУ)
Comment[sr@ijekavian]=Повезивање са сервисом мреже личног подручја (ПАНУ)
Comment[sr@ijekavianlatin]=Povezivanje sa servisom mreže ličnog područja (PANU)
Comment[sr@latin]=Povezivanje sa servisom mreže ličnog područja (PANU)
Comment[sv]=Anslut till personlig nätverkstjänst (PANU)
Comment[tr]=Kişisel Alan Ağı servisine bağlan (PANU)
Comment[uk]=Встановити зв’язок зі службою особистої мережі (PANU)
Comment[x-test]=xxConnect to Personal Area Network service (PANU)xx
Comment[zh_CN]=连接到个人局域网(PANU)
Comment[zh_TW]=連線到個人區域網路服務（PANU）
Name=PANU
Name[ar]=شبكة منطقة الشخصية(PANU)
Name[bs]=PANU
Name[ca]=PANU
Name[ca@valencia]=PANU
Name[cs]=PANU
Name[da]=PANU
Name[de]=PANU
Name[el]=PANU
Name[es]=PANU
Name[et]=PANU
Name[fi]=PANU
Name[fr]=PANU
Name[gl]=PANU
Name[hu]=PANU
Name[it]=PANU
Name[kk]=PANU
Name[km]=PANU
Name[lt]=PANU
Name[mr]=PANU
Name[nb]=PANU
Name[nl]=PANU
Name[pa]=PANU
Name[pl]=PANU
Name[pt]=PANU
Name[pt_BR]=PANU
Name[ro]=PANU
Name[ru]=PANU
Name[sk]=PANU
Name[sl]=PANU
Name[sr]=ПАНУ
Name[sr@ijekavian]=ПАНУ
Name[sr@ijekavianlatin]=PANU
Name[sr@latin]=PANU
Name[sv]=PANU
Name[tr]=PANU
Name[uk]=PANU
Name[x-test]=xxPANUxx
Name[zh_CN]=PANU
Name[zh_TW]=PANU
GenericName=PANU
GenericName[ar]=شبكة منطقة الشخصية(PANU)
GenericName[bs]=PANU
GenericName[ca]=PANU
GenericName[ca@valencia]=PANU
GenericName[cs]=PANU
GenericName[da]=PANU
GenericName[de]=PANU
GenericName[el]=PANU
GenericName[es]=PANU
GenericName[et]=PANU
GenericName[fi]=PANU
GenericName[fr]=PANU
GenericName[gl]=PANU
GenericName[hu]=PANU
GenericName[it]=PANU
GenericName[kk]=PANU
GenericName[km]=PANU
GenericName[lt]=PANU
GenericName[mr]=PANU
GenericName[nb]=PANU
GenericName[nl]=PANU
GenericName[pa]=PANU
GenericName[pl]=PANU
GenericName[pt]=PANU
GenericName[pt_BR]=PANU
GenericName[ro]=PANU
GenericName[ru]=PANU
GenericName[sk]=PANU
GenericName[sl]=PANU
GenericName[sr]=ПАНУ
GenericName[sr@ijekavian]=ПАНУ
GenericName[sr@ijekavianlatin]=PANU
GenericName[sr@latin]=PANU
GenericName[sv]=PANU
GenericName[tr]=PANU
GenericName[uk]=PANU
GenericName[x-test]=xxPANUxx
GenericName[zh_CN]=PANU
GenericName[zh_TW]=PANU
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkpanuactionplugin
X-KDE-PluginInfo-Name=Network PANU
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001116-0000-1000-8000-00805F9B34FB
