[Desktop Entry]
Type=Service
Exec=blubb
Comment=Connect to Personal Area Network service (PANU)
Comment[bs]=Povezivanje na ličnu mrežu (PANU)
Comment[cs]=Připojit ke službě osobní sítě (PANU)
Comment[da]=Forbind til Personal Area Network-tjeneste (PANU)
Comment[es]=Conectar con el servicio de red de área personal (PANU)
Comment[it]=Connetti ad un servizio di rete personale (PANU)
Comment[nl]=Met de Personal Area Network-service verbinden (PANU)
Comment[pt_BR]=Conectar ao serviço de rede de área pessoal (PANU)
Comment[sk]=Pripojiť na službu Personal Area Network (PANU)
Comment[uk]=Встановити зв’язок зі службою особистої мережі (PANU)
Comment[x-test]=xxConnect to Personal Area Network service (PANU)xx
Name=PANU
Name[bs]=PANU
Name[cs]=PANU
Name[da]=PANU
Name[es]=PANU
Name[it]=PANU
Name[nl]=PANU
Name[pt_BR]=PANU
Name[sk]=PANU
Name[uk]=PANU
Name[x-test]=xxPANUxx
GenericName=PANU
GenericName[bs]=PANU
GenericName[cs]=PANU
GenericName[da]=PANU
GenericName[es]=PANU
GenericName[it]=PANU
GenericName[nl]=PANU
GenericName[pt_BR]=PANU
GenericName[sk]=PANU
GenericName[uk]=PANU
GenericName[x-test]=xxPANUxx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkpanuactionplugin
X-KDE-PluginInfo-Name=Network PANU
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001116-0000-1000-8000-00805F9B34FB
