[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=obexftpdaemon
X-KDE-DBus-ModuleName=obexftpdaemon
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=obexftp
Name[ca]=obexftp
Name[ca@valencia]=obexftp
Name[cs]=obexftp
Name[da]=obexftp
Name[de]=Obexftp
Name[en_GB]=obexftp
Name[es]=obexftp
Name[et]=obexftp
Name[hu]=obexftp
Name[nds]=ObexFTP
Name[nl]=obexftp
Name[ru]=obexftp
Name[sl]=obexftp
Name[sv]=OBEX FTP
Name[tr]=obexftp
Name[uk]=obexftp
Name[zh_TW]=obexftp

Comment=Obexftp helper daemon
