[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=obexftpdaemon
X-KDE-DBus-ModuleName=obexftpdaemon
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Bluetooth File Transfer
Name[cs]=Přenos souborů Bluetooth
Name[de]=Bluetooth-Dateiübertragung
Name[el]=Μεταφορά αρχείων με Bluetooth
Name[es]=Transferencia de archivo por Bluetooth
Name[mr]=ब्लूटूथ फाईल बदली
Name[nl]=Bestandsoverdracht via bluetooth
Name[pt]=Transferência de Ficheiros por Bluetooth
Name[pt_BR]=Transferência de arquivos por Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sr]=Блутут пренос фајла
Name[sr@ijekavian]=Блутут пренос фајла
Name[sr@ijekavianlatin]=Bluetooth prenos fajla
Name[sr@latin]=Bluetooth prenos fajla
Name[sv]=Filöverföring med Blåtand
Name[tr]=Bluetooth Dosya Aktarımı
Name[uk]=Перенесення файла за допомогою Bluetooth
Name[x-test]=xxBluetooth File Transferxx
Name[zh_TW]=藍牙檔案傳輸

Comment=Supports Bluetooth file transfer using ObexFTP
Comment[de]=Unterstützt Bluetooth-Datenübertragung mittels ObexFTP
Comment[el]=Υποστηρίζει μεταφορά αρχείων με Bluetooth με χρήση ObexFTP
Comment[es]=Permite transferencias de archivos por Bluetooth usando ObexFTP
Comment[mr]=ओबेक्स-एफटीपी वापरून ब्लूटूथ फाईल बदली समर्थीत करतो
Comment[nl]=Ondersteunt bestandsoverdracht via bluetooth met ObexFTP
Comment[pt]=Suporta a transferência de ficheiros por Bluetooth com o ObexFTP
Comment[pt_BR]=Suporte à transferência de arquivos por Bluetooth usando o ObexFTP
Comment[sk]=Podporuje Bluetooth prenosy súborov pomocou ObexFTP
Comment[sl]=Podpira prenose datotek preko Bluetooth z uporabo ObexFTP
Comment[sr]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavian]=Подршка за блутут преносе фајлова помоћу ОбексФТП‑а
Comment[sr@ijekavianlatin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sr@latin]=Podrška za bluetooth prenose fajlova pomoću ObexFTP‑a
Comment[sv]=Stöder filöverföringar för Blåtand med ObexFTP
Comment[tr]=ObexFTP kullanarak Bluetooth dosya transferlerini destekler
Comment[uk]=Підтримує перенесення файлів Bluetooth за допомогою ObexFTP
Comment[x-test]=xxSupports Bluetooth file transfer using ObexFTPxx
Comment[zh_TW]=使用 ObexFTP 支援藍牙檔案傳輸
