[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Input connect
Name[pt]=Ligação de entrada do BlueDevil
Name[sv]=Blådjävul anslutning av indata
Name[uk]=З’єднання пристрою введення даних BlueDevil
Name[x-test]=xxBlueDevil Input connectxx
GenericName=BlueDevil Input connect
GenericName[pt]=Ligação de entrada do BlueDevil
GenericName[sv]=Blådjävul anslutning av indata
GenericName[uk]=З’єднання пристрою введення даних BlueDevil
GenericName[x-test]=xxBlueDevil Input connectxx
MimeType=virtual/bluedevil-input;
Exec=bluedevil-input %U
Comment=BlueDevil Input connect
Comment[pt]=Ligação de entrada do BlueDevil
Comment[sv]=Blådjävul anslutning av indata
Comment[uk]=З’єднання пристрою введення даних BlueDevil
Comment[x-test]=xxBlueDevil Input connectxx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;Bluetooth;Network;Input;
NoDisplay=true
