[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Input connect
Name[ar]=بلوديفل يوصل الإدخال
Name[bs]=Bludevilovo povezivanje ulaza
Name[ca]=Connexió d'entrada del BlueDevil
Name[ca@valencia]=Connexió d'entrada del BlueDevil
Name[cs]=Vstupní spojení BlueDevil
Name[da]=BlueDevil input-forbindelse
Name[de]=BlueDevil-Eingabeverbindung
Name[el]=Σύνδεση εισόδου μέσω BlueDevil
Name[en_GB]=BlueDevil Input connect
Name[es]=Conexión de entrada BlueDevil
Name[et]=BlueDevili sisendiühendus
Name[fi]=BlueDevil-syöteyhteys
Name[fr]=Connexion d'entrée par BlueDevil
Name[gl]=Conectarse á entrada por Bluetooth
Name[hu]=BlueDevil beviteli kapcsolat
Name[it]=Connessione di ingresso di BlueDevil
Name[km]=តភ្ជាប់​ព័ត៌មាន​បញ្ចូល​ BlueDevil
Name[lt]=BlueDevil įvesties jungtis
Name[mr]=ब्लु-डेव्हिल इनपुट जुळवणी
Name[nb]=BlueDevil inndata-tilkobling
Name[nds]=BlueDevil - Ingang tokoppeln
Name[nl]=BlueDevil-invoerverbinding
Name[pa]=BlueDevil ਇੰਪੁੱਟ ਕੁਨੈਕਟ
Name[pl]=Połączenie wejścia BlueDevil
Name[pt]=Ligação de entrada do BlueDevil
Name[pt_BR]=Conexão de entrada do BlueDevil
Name[ro]=Conectare intrare BlueDevil
Name[ru]=Подключение устройства ввода с помощью BlueDevil
Name[sk]=Vstupné spojenie BlueDevil
Name[sl]=BlueDevil – vhodna povezava
Name[sr]=Блудевилово повезивање улаза
Name[sr@ijekavian]=Блудевилово повезивање улаза
Name[sr@ijekavianlatin]=BlueDevilovo povezivanje ulaza
Name[sr@latin]=BlueDevilovo povezivanje ulaza
Name[sv]=Blådjävul anslutning av indata
Name[th]=เชื่อมต่ออุปกรณ์ป้อนข้อมูลด้วยบลูดีวิล
Name[tr]=BlueDevil Girdi bağlantısı
Name[ug]=BlueDevil كىرگۈزۈش باغلىنىشى
Name[uk]=З’єднання пристрою введення даних BlueDevil
Name[x-test]=xxBlueDevil Input connectxx
Name[zh_CN]=BlueDevil 输入连接
Name[zh_TW]=BlueDevil 輸入連線
GenericName=BlueDevil Input connect
GenericName[ar]=بلوديفل يوصل الإدخال
GenericName[bs]=Bludevilovo povezivanje ulaza
GenericName[ca]=Connexió d'entrada del BlueDevil
GenericName[ca@valencia]=Connexió d'entrada del BlueDevil
GenericName[cs]=Vstupní spojení BlueDevil
GenericName[da]=BlueDevil input-forbindelse
GenericName[de]=BlueDevil-Eingabeverbindung
GenericName[el]=Σύνδεση εισόδου μέσω BlueDevil
GenericName[en_GB]=BlueDevil Input connect
GenericName[es]=Conexión de entrada BlueDevil
GenericName[et]=BlueDevili sisendiühendus
GenericName[fi]=BlueDevil-syöteyhteys
GenericName[fr]=Connexion d'entrée par BlueDevil
GenericName[gl]=Conectarse á entrada por Bluetooth
GenericName[hu]=BlueDevil beviteli kapcsolat
GenericName[it]=Connessione di ingresso di BlueDevil
GenericName[km]=តភ្ជាប់​ព័ត៌មាន​បញ្ចូល​ BlueDevil
GenericName[lt]=BlueDevil įvesties jungtis
GenericName[mr]=ब्लु-डेव्हिल इनपुट जुळवणी
GenericName[nb]=BlueDevil inndata-tilkobling
GenericName[nds]=BlueDevil - Ingang tokoppeln
GenericName[nl]=BlueDevil-invoerverbinding
GenericName[pa]=BlueDevil ਇੰਪੁੱਟ ਕੁਨੈਕਟ
GenericName[pl]=Połączenie wejścia BlueDevil
GenericName[pt]=Ligação de entrada do BlueDevil
GenericName[pt_BR]=Conexão de entrada do BlueDevil
GenericName[ro]=Conectare intrare BlueDevil
GenericName[ru]=Подключение устройства ввода с помощью BlueDevil
GenericName[sk]=Vstupné spojenie BlueDevil
GenericName[sl]=BlueDevil – vhodna povezava
GenericName[sr]=Блудевилово повезивање улаза
GenericName[sr@ijekavian]=Блудевилово повезивање улаза
GenericName[sr@ijekavianlatin]=BlueDevilovo povezivanje ulaza
GenericName[sr@latin]=BlueDevilovo povezivanje ulaza
GenericName[sv]=Blådjävul anslutning av indata
GenericName[th]=เชื่อมต่ออุปกรณ์ป้อนข้อมูลด้วยบลูดีวิล
GenericName[tr]=BlueDevil Girdi bağlantısı
GenericName[ug]=BlueDevil كىرگۈزۈش باغلىنىشى
GenericName[uk]=З’єднання пристрою введення даних BlueDevil
GenericName[x-test]=xxBlueDevil Input connectxx
GenericName[zh_CN]=BlueDevil 输入连接
GenericName[zh_TW]=BlueDevil 輸入連線
MimeType=application/vnd.kde.bluedevil-input;
Exec=bluedevil-input %U
Comment=BlueDevil Input connect
Comment[ar]=بلوديفل يوصل الإدخال
Comment[bs]=Bludevilovo povezivanje ulaza
Comment[ca]=Connexió d'entrada del BlueDevil
Comment[ca@valencia]=Connexió d'entrada del BlueDevil
Comment[cs]=Vstupní spojení BlueDevil
Comment[da]=BlueDevil input-forbindelse
Comment[de]=BlueDevil-Eingabeverbindung
Comment[el]=Σύνδεση εισόδου μέσω BlueDevil
Comment[en_GB]=BlueDevil Input connect
Comment[es]=Conexión de entrada BlueDevil
Comment[et]=BlueDevili sisendiühendus
Comment[fi]=BlueDevil-syöteyhteys
Comment[fr]=Connexion d'entrée par BlueDevil
Comment[gl]=Conectarse á entrada por Bluetooth.
Comment[hu]=BlueDevil beviteli kapcsolat
Comment[it]=Connessione di ingresso di BlueDevil
Comment[km]=តភ្ជាប់​ព័ត៌មាន​បញ្ចូល​ BlueDevil
Comment[lt]=BlueDevil įvesties jungtis
Comment[mr]=ब्लु-डेव्हिल इनपुट जुळवणी
Comment[nb]=BlueDevil inndata-tilkobling
Comment[nds]=BlueDevil - Ingang tokoppeln
Comment[nl]=BlueDevil-invoerverbinding
Comment[pa]=BlueDevil ਇੰਪੁੱਟ ਕੁਨੈਕਟ
Comment[pl]=Połączenie wejścia BlueDevil
Comment[pt]=Ligação de entrada do BlueDevil
Comment[pt_BR]=Conexão de entrada do BlueDevil
Comment[ro]=Conectare intrare BlueDevil
Comment[ru]=Подключение устройства ввода с помощью BlueDevil
Comment[sk]=Vstupné spojenie BlueDevil
Comment[sl]=BlueDevil – vhodna povezava
Comment[sr]=Блудевилово повезивање улаза
Comment[sr@ijekavian]=Блудевилово повезивање улаза
Comment[sr@ijekavianlatin]=BlueDevilovo povezivanje ulaza
Comment[sr@latin]=BlueDevilovo povezivanje ulaza
Comment[sv]=Blådjävul anslutning av indata
Comment[th]=เชื่อมต่ออุปกรณ์ป้อนข้อมูลด้วยบลูดีวิล
Comment[tr]=BlueDevil Girdi bağlantısı
Comment[ug]=BlueDevil كىرگۈزۈش باغلىنىشى
Comment[uk]=З’єднання пристрою введення даних BlueDevil
Comment[x-test]=xxBlueDevil Input connectxx
Comment[zh_CN]=连接
Comment[zh_TW]=BlueDevil 輸入連線
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
