[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of a network device
Comment[da]=Håndterer forbindelse og konfiguration af en netværksenhed
Comment[nl]=Behandelt de verbinding en instelling van een netwerkappparaat
Comment[pt]=Lida com a ligação e configuração de um dispositivo de rede
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de rede
Comment[uk]=Виконує обробку з’єднання та налаштування мережевого пристрою
Comment[x-test]=xxHandles the connection and configuration of a network devicexx
Name=Network
Name[da]=Netværk
Name[nl]=Netwerk
Name[pt]=Rede
Name[pt_BR]=Rede
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
GenericName=Network
GenericName[da]=Netværk
GenericName[nl]=Netwerk
GenericName[pt]=Rede
GenericName[pt_BR]=Rede
GenericName[uk]=Мережа
GenericName[x-test]=xxNetworkxx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkactionplugin
X-KDE-PluginInfo-Name=Audio
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001103-0000-1000-8000-00805F9B34FB
