[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of a network device
Comment[da]=Håndterer forbindelse og konfiguration af en netværksenhed
Comment[it]=Gestisce la connessione e la configurazione di un dispositivo di rete
Comment[nl]=Behandelt de verbinding en instelling van een netwerkappparaat
Comment[pt]=Lida com a ligação e configuração de um dispositivo de rede
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de rede
Comment[sv]=Hanterar anslutning och anpassning av en nätverksenhet
Comment[uk]=Виконує обробку з’єднання та налаштування мережевого пристрою
Comment[x-test]=xxHandles the connection and configuration of a network devicexx
Comment[zh_TW]=處理網路裝置的連線與設定
Name=Network
Name[da]=Netværk
Name[it]=Rete
Name[nl]=Netwerk
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_TW]=網路
GenericName=Network
GenericName[da]=Netværk
GenericName[it]=Rete
GenericName[nl]=Netwerk
GenericName[pt]=Rede
GenericName[pt_BR]=Rede
GenericName[sv]=Nätverk
GenericName[uk]=Мережа
GenericName[x-test]=xxNetworkxx
GenericName[zh_TW]=網路
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilnetworkactionplugin
X-KDE-PluginInfo-Name=Audio
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001103-0000-1000-8000-00805F9B34FB
