[Desktop Entry]
Exec=kcmshell4 bluedeviltransfer
Icon=folder-tar
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviltransfer
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=60

Name=File Transfers
Name[ar]=نقل الملفات
Name[bs]=Transfer datoteke
Name[ca]=Transferències de fitxers
Name[ca@valencia]=Transferències de fitxers
Name[cs]=Přenosy souborů
Name[da]=Filoverførsler
Name[de]=Dateiübertragungen
Name[el]=Μεταφορές αρχείων
Name[es]=Transferencias de archivo
Name[et]=Failiedastused
Name[fi]=Tiedostonsiirto
Name[fr]=Transferts de fichiers
Name[gl]=Transferencias de ficheiros
Name[hu]=Fájlátvitelek
Name[it]=Trasferimento file
Name[km]=ផ្ទេរ​ឯកសារ​​
Name[lt]=Failų perdavimai
Name[mr]=फाईल देवाणघेवाण
Name[nb]=Filoverføringer
Name[nds]=Dateiöverdregen
Name[nl]=Bestandsoverdrachten
Name[pa]=ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłania plików
Name[pt]=Transferência de Ficheiros
Name[pt_BR]=Transferência de arquivos
Name[ro]=Transferuri de fișiere
Name[ru]=Приём файлов
Name[sk]=Prenosy súborov
Name[sl]=Prenosi datotek
Name[sr]=Преноси фајлова
Name[sr@ijekavian]=Преноси фајлова
Name[sr@ijekavianlatin]=Prenosi fajlova
Name[sr@latin]=Prenosi fajlova
Name[sv]=Filöverföringar
Name[tr]=Dosya Aktarımı
Name[ug]=ھۆججەت يوللاش
Name[uk]=Перенесення файла
Name[x-test]=xxFile Transfersxx
Name[zh_CN]=文件传送
Name[zh_TW]=檔案傳輸

Comment=Configure Bluetooth file sharing and transfers
Comment[cs]=Nastavte sdílení souborů přes Bluetooth
Comment[de]=Dateifreigaben und Dateiübertragung für Bluetooth einrichten
Comment[el]=Διαμόρφωση διαμοιρασμού και μεταφοράς αρχείων με Bluetooth
Comment[es]=Configurar compartición y transferencias de archivos por Bluetooth
Comment[mr]=ब्लूटूथ फाईल शेअर करणे व बदली संयोजीत करा
Comment[nl]=Bestandsdeling en -overdracht via bluetooth instellen
Comment[pt]=Configura a partilha e as transferências de ficheiros por Bluetooth
Comment[pt_BR]=Configura o compartilhamento e as transferências de arquivos por Bluetooth
Comment[sk]=Nastaviť zdieľanie súborov a prenosy Bluetooth
Comment[sl]=Nastavite souporabo in prenose datotek preko Bluetooth-a
Comment[sr]=Подесите преносе и дељење фајлова преко блутутом
Comment[sr@ijekavian]=Подесите преносе и дељење фајлова преко блутутом
Comment[sr@ijekavianlatin]=Podesite prenose i deljenje fajlova preko Bluetoothom
Comment[sr@latin]=Podesite prenose i deljenje fajlova preko Bluetoothom
Comment[sv]=Anpassa fildelning och överföringar med Blåtand
Comment[tr]=Bluetooth dosya paylaşımı ve transferlerini yapılandır
Comment[uk]=Налаштування надсилання та отримання файлів Bluetooth
Comment[x-test]=xxConfigure Bluetooth file sharing and transfersxx
Comment[zh_TW]=設定藍牙檔案共用與傳輸

X-KDE-Keywords=Network,Connectivity,Bluetooth
X-KDE-Keywords[ar]=شبكة,توصيل,بلوتوث
X-KDE-Keywords[bs]=Network,Connectivity,Bluetooth
X-KDE-Keywords[ca]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[ca@valencia]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[cs]=Síť,Konektivita,Bluetooth
X-KDE-Keywords[da]=Netværk,forbindelse,Bluetooth
X-KDE-Keywords[de]=Netzwerk,Verbindungen,Bluetooth
X-KDE-Keywords[el]=Δίκτυο,Συνδεσιμότητα,Bluetooth
X-KDE-Keywords[es]=Red,Conectividad,Bluetooth
X-KDE-Keywords[et]=Võrk,Ühenduvus,Bluetooth
X-KDE-Keywords[fi]=Verkko,Yhteydet,Bluetooth
X-KDE-Keywords[fr]=Réseau,connectivité,Bluetooth
X-KDE-Keywords[gl]=Network,Connectivity,Bluetooth,Rede,Conectividade
X-KDE-Keywords[hu]=Hálózat,Kapcsolódás,Bluetooth
X-KDE-Keywords[it]=Rete,Connettività,Bluetooth
X-KDE-Keywords[km]=បណ្ដាញ ការ​តភ្ជាប់ ប៊្លូធូស
X-KDE-Keywords[lt]=Tinklas,Junglumas,Bluetooth
X-KDE-Keywords[mr]=संजाळ,जुळवणी,ब्लूटूथ
X-KDE-Keywords[nb]=Nettverk,sammenkobling,blåtann
X-KDE-Keywords[nds]=Nettwark,Verbinnen,Bluetooth
X-KDE-Keywords[nl]=Netwerkverbinding,connectiviteit,bluetooth
X-KDE-Keywords[pa]=ਨੈੱਟਵਰਕ,ਕੁਨੈਕਟਵਿਟੀ,ਬਲਿਊਟੁੱਥ
X-KDE-Keywords[pl]=Sieć,Łączność,Bluetooth
X-KDE-Keywords[pt]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[pt_BR]=rede,conectividade,bluetooth
X-KDE-Keywords[ro]=Rețea,Conectivitate,Bluetooth
X-KDE-Keywords[ru]=Сеть,Соединение,Bluetooth
X-KDE-Keywords[sk]=Sieť,Konektivita,Bluetooth
X-KDE-Keywords[sl]=Omrežje,Povezave,Bluetooth
X-KDE-Keywords[sr]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavian]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavianlatin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sr@latin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sv]=Nätverk,Anslutningar,Blåtand
X-KDE-Keywords[tr]=Ağ, Bağlanılabilirlik, Bluetooth
X-KDE-Keywords[uk]=Network,Connectivity,Bluetooth,мережа,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxNetwork,Connectivity,Bluetoothxx
X-KDE-Keywords[zh_CN]=Network,Connectivity,Bluetooth,网络,连接,蓝牙
X-KDE-Keywords[zh_TW]=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
