[Desktop Entry]
Exec=kcmshell4 bluedevil
Icon=preferences-system-bluetooth
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluetooth
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=50

Name=Bluetooth
Name[be]=Bluetooth
Name[bg]=Bluetooth
Name[cs]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[eo]=Bluetooth
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[hr]=Bluetooth
Name[is]=Blátönn
Name[ja]=Bluetooth
Name[km]=ប៊្លូធូស
Name[lt]=Bluetooth
Name[nds]=Bluetooth
Name[nl]=Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sv]=Blåtand
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[x-test]=xxBluetoothxx

X-KDE-Keywords=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
