[Desktop Entry]
Exec=kcmshell5 bluedevildevices
Icon=input-mouse
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedevildevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=50

Name=Devices
Name[ca]=Dispositius
Name[es]=Dispositivos
Name[fi]=Laitteet
Name[fr]=Périphériques
Name[nb]=Enheter
Name[nl]=Apparaten
Name[pl]=Urządzenia
Name[pt]=Dispositivos
Name[pt_BR]=Dispositivos
Name[sk]=Zariadenia
Name[sr]=Уређаји
Name[sr@ijekavian]=Уређаји
Name[sr@ijekavianlatin]=Uređaji
Name[sr@latin]=Uređaji
Name[sv]=Enheter
Name[uk]=Пристрої
Name[x-test]=xxDevicesxx

Comment=Manage Bluetooth devices
Comment[ca]=Gestiona els dispositius Bluetooth
Comment[fi]=Bluetooth-laitteiden asetukset
Comment[fr]=Gère les périphériques Bluetooth
Comment[nb]=Håndter Blåtann-enheter
Comment[nl]=Bluetooth-apparaten beheren
Comment[pl]=Zarządzaj urządzeniami Bluetooth
Comment[pt]=Gerir os dispositivos Bluetooth
Comment[pt_BR]=Gerencia os dispositivo Bluetooth
Comment[sk]=Spravovať Bluetooth zariadenia
Comment[sr]=Управљајте блутут уређајима
Comment[sr@ijekavian]=Управљајте блутут уређајима
Comment[sr@ijekavianlatin]=Upravljajte bluetooth uređajima
Comment[sr@latin]=Upravljajte bluetooth uređajima
Comment[sv]=Hantera Blåtandenheter
Comment[uk]=Керування пристроями Bluetooth
Comment[x-test]=xxManage Bluetooth devicesxx

X-KDE-Keywords=Network,Connectivity,Bluetooth
X-KDE-Keywords[ca]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[es]=Red,Conectividad,Bluetooth
X-KDE-Keywords[fi]=Verkko,Yhteydet,Bluetooth
X-KDE-Keywords[fr]=Réseau, connectivité, Bluetooth
X-KDE-Keywords[nb]=Nettverk,sammenkobling,blåtann
X-KDE-Keywords[nl]=Netwerkverbinding,connectiviteit,bluetooth
X-KDE-Keywords[pl]=Sieć,Łączność,Bluetooth
X-KDE-Keywords[pt]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[pt_BR]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[sk]=Sieť,Konektivita,Bluetooth
X-KDE-Keywords[sr]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavian]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavianlatin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sr@latin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sv]=Nätverk,Anslutningar,Blåtand
X-KDE-Keywords[uk]=Network,Connectivity,Bluetooth,мережа,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxNetwork,Connectivity,Bluetoothxx

Categories=Qt;KDE;X-KDE-settings-bluetooth;
