[Desktop Entry]
Exec=kcmshell4 bluedeviltransfer
Icon=folder-tar
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviltransfer
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=60

Name=File Transfers
Name[cs]=Přenosy souborů
Name[da]=Filoverførsler
Name[el]=Μεταφορές αρχείων
Name[es]=Transferencias de archivo
Name[it]=Trasferimento file
Name[nds]=Dateiöverdregen
Name[nl]=Bestandsoverdrachten
Name[pt]=Transferência de Ficheiros
Name[pt_BR]=Transferência de arquivos
Name[ru]=Приём файлов
Name[uk]=Перенесення файла
Name[x-test]=xxFile Transfersxx
Name[zh_TW]=檔案傳輸

Comment=Configure the Bluetooth receive files
Comment[ca]=Configura la recepció de fitxers per Bluetooth
Comment[cs]=Nastavte příjem souborů přes Bluetooth
Comment[da]=Indstil modtagelse af filer via Bluetooth
Comment[de]=Den Bluetooth-Dateiempfang einrichten
Comment[el]=Ρύθμιση του λήπτη αρχείων Bluetooth
Comment[en_GB]=Configure the Bluetooth receive files
Comment[es]=Configurar la recepción de archivos por Bluetooth
Comment[et]=Bluetoothi faili saamise seadistamine
Comment[fr]=Configurer la réception de fichiers par Bluetooth
Comment[hu]=A fájlfogadás beállítása
Comment[it]=Configura la ricezione di file via Bluetooth
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឯកសារ​ទទួល​បាន​ប្ល៊ូធូស​​ពី​ចម្ងាយ​
Comment[nb]=Sett opp mottak av filer over Bluetooth
Comment[nds]=Bluetooth - Afhalen vun Dateien instellen
Comment[nl]=De bluetooth-ontvangbestanden instellen
Comment[pa]=ਬਲਿਊਟੁੱਥ ਪ੍ਰਾਪਤੀ ਫਾਇਲ ਦੀ ਸੰਰਚਨਾ
Comment[pt]=Configura a recepção de ficheiros por Bluetooth
Comment[pt_BR]=Configura a recepção de arquivos por Bluetooth
Comment[ro]=Configurează primirea de fișiere Bluetooth
Comment[ru]=Настройка приёма файлов по каналу Bluetooth
Comment[sv]=Anpassa Blåtand mottagning av filer
Comment[th]=ปรับแต่งการรับแฟ้มผ่านทางบลูทูท
Comment[uk]=Налаштування отримання файлів Bluetooth
Comment[x-test]=xxConfigure the Bluetooth receive filesxx
Comment[zh_TW]=設定藍芽接收檔案

X-KDE-Keywords=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
