[Desktop Entry]
Exec=kcmshell4 bluedeviltransfer
Icon=folder-tar
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviltransfer
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=60

Name=File Transfer
Name[ca]=Transferència de fitxers
Name[cs]=Přenos souboru
Name[da]=Filoverførsel
Name[de]=Dateiübertragung
Name[en_GB]=File Transfer
Name[es]=Transferencia de archivo
Name[et]=Failiedastus
Name[fr]=Transfert de fichiers
Name[hu]=Fájlátvitel
Name[it]=Trasferimento file
Name[mai]=फाइल हस्तांतरण
Name[nds]=Dateiöverdregen
Name[nl]=Bestandsoverdracht
Name[pt]=Transferência de Ficheiros
Name[pt_BR]=Transferência de arquivo
Name[sl]=Prenos datotek
Name[sv]=Filöverföring
Name[tr]=Dosya Gönderimi
Name[uk]=Перенесення файла
Name[x-test]=xxFile Transferxx
Name[zh_TW]=檔案傳輸

Comment=Configure the bluetooth receive files
Comment[ca]=Configura la recepció de fitxer bluetooth
Comment[da]=Indstil modtagelse af filer via bluetooth
Comment[en_GB]=Configure the bluetooth receive files
Comment[et]=Bluetoothi faili saamise seadistamine
Comment[fr]=Configurer la réception de fichiers par Bluetooth
Comment[hu]=Fájlok fogadásának beállítása
Comment[it]=Configura la ricezione di file via Bluetooth
Comment[nl]=De bluetooth-ontvangbestanden instellen
Comment[pt]=Configura a recepção de ficheiros por Bluetooth
Comment[pt_BR]=Configura a recepção de arquivos por Bluetooth
Comment[sl]=Nastavite prenašanje datotek prek Bluetooth
Comment[sv]=Anpassa Blåtand mottagning av filer
Comment[uk]=Налаштування отримання файлів bluetooth
Comment[x-test]=xxConfigure the bluetooth receive filesxx
Comment[zh_TW]=設定藍芽接收檔案

X-KDE-Keywords=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
