[Desktop Entry]
Exec=kcmshell4 bluedevildevices
Icon=input-mouse
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedevildevices
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=50

Name=Devices

Comment=Manage Bluetooth devices

X-KDE-Keywords=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
