[Desktop Entry]
Exec=kcmshell4 bluedeviladapters
Icon=audio-card
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviladapters
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=100

Name=Adapters
Name[ar]=المحولات
Name[ca]=Adaptadors
Name[ca@valencia]=Adaptadors
Name[cs]=Adaptéry
Name[da]=Adaptere
Name[de]=Adapter
Name[el]=Προσαρμογείς
Name[en_GB]=Adapters
Name[es]=Adaptadores
Name[et]=Adapterid
Name[fi]=Sovittimet
Name[fr]=Adaptateurs
Name[hu]=Adapterek
Name[it]=Adattatori
Name[km]=អាដាប់ទ័រ
Name[nb]=Adaptere
Name[nds]=Koorten
Name[nl]=Adapters
Name[pa]=ਐਡਪਟਰ
Name[pl]=Adaptery
Name[pt]=Adaptadores
Name[pt_BR]=Adaptadores
Name[ro]=Adaptoare
Name[ru]=Адаптеры
Name[sk]=Adaptéry
Name[sl]=Vmesniki
Name[sr]=Адаптери
Name[sr@ijekavian]=Адаптери
Name[sr@ijekavianlatin]=Adapteri
Name[sr@latin]=Adapteri
Name[sv]=Anslutningar
Name[th]=อุปกรณ์
Name[tr]=Bağdaştırıcılar
Name[ug]=ماسلاشتۇرغۇچ
Name[uk]=Адаптери
Name[x-test]=xxAdaptersxx
Name[zh_CN]=适配器
Name[zh_TW]=轉接器

Comment=Configure the available Bluetooth adapters
Comment[ar]=اضبط محولات بلوتوث المتوفرة
Comment[bs]=Podesite dostupne blutut adaptere
Comment[ca]=Configura els adaptadors Bluetooth disponibles
Comment[ca@valencia]=Configura els adaptadors Bluetooth disponibles
Comment[cs]=Nastavte dostupné adaptéry Bluetooth
Comment[da]=Indstil de tilgængelige Bluetooth-adaptere
Comment[de]=Die verfügbaren Bluetooth-Adapter einrichten
Comment[el]=Διαμόρφωση των διαθέσιμων προσαρμογέων Bluetooth
Comment[en_GB]=Configure the available Bluetooth adapters
Comment[es]=Configurar los adaptadores Bluetooth disponibles
Comment[et]=Saadaolevate Bluetoothi adapterite seadistamine
Comment[fi]=Käytettävissä olevien Bluetooth-sovittimien asetukset
Comment[fr]=Configure les adaptateurs Bluetooth disponibles
Comment[hu]=Elérhető Bluetooth-adapterek beállítása
Comment[it]=Configura gli adattatori Bluetooth disponibili
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​អាដាប់ទ័រ​ប៊្លូធូស​ដែល​​មាន​
Comment[nb]=Sett opp de tilgjengelige Bluetooth-adapterne
Comment[nds]=Verföögbor Bluetooth-Koorten instellen
Comment[nl]=De beschikbare bluetooth-adapters instellen
Comment[pa]=ਉਪਲੱਬਧ ਬਲਿਊਟੁੱਥ ਐਡਪਟਰ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj dostępne adaptery Bluetooth
Comment[pt]=Configurar os adaptadores de Bluetooth disponíveis
Comment[pt_BR]=Configurar os adaptadores Bluetooth disponíveis
Comment[ro]=Configurează adaptoarele Bluetooth disponibile
Comment[ru]=Настройка доступных адаптеров Bluetooth
Comment[sk]=Nastaviť všetky dostupné adaptéry Bluetooth
Comment[sl]=Nastavite razpoložljive vmesnike Bluetooth
Comment[sr]=Подесите доступне блутут адаптере
Comment[sr@ijekavian]=Подесите доступне блутут адаптере
Comment[sr@ijekavianlatin]=Podesite dostupne bluetooth adaptere
Comment[sr@latin]=Podesite dostupne bluetooth adaptere
Comment[sv]=Anpassa tillgängliga Blåtandanslutningar
Comment[th]=ปรับแต่งอุปกรณ์บลูทูทที่มีให้เลือกใช้
Comment[tr]=Kullanılabilir bluetooth bağdaştırıcılarını yapılandırın
Comment[ug]=ئىشلەتكىلى بولىدىغان كۆكچىش ماسلاشتۇرغۇچىنى سەپلەيدۇ
Comment[uk]=Налаштування доступних адаптерів Bluetooth
Comment[x-test]=xxConfigure the available Bluetooth adaptersxx
Comment[zh_CN]=配置可用蓝牙适配器
Comment[zh_TW]=設定可用的藍芽轉接器

X-KDE-Keywords=Network,Connectivity,Bluetooth
X-KDE-Keywords[ar]=شبكة,توصيل,بلوتوث
X-KDE-Keywords[ca]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[ca@valencia]=Xarxa,Connectivitat,Bluetooth
X-KDE-Keywords[cs]=Síť,Konektivita,Bluetooth
X-KDE-Keywords[da]=Netværk,forbindelse,Bluetooth
X-KDE-Keywords[de]=Netzwerk,Verbindungen,Bluetooth
X-KDE-Keywords[el]=Δίκτυο,Συνδεσιμότητα,Bluetooth
X-KDE-Keywords[es]=Red,Conectividad,Bluetooth
X-KDE-Keywords[et]=Võrk,Ühenduvus,Bluetooth
X-KDE-Keywords[fi]=Verkko,Yhteydet,Bluetooth
X-KDE-Keywords[fr]=Réseau,connectivité,Bluetooth
X-KDE-Keywords[hu]=Hálózat,Kapcsolódás,Bluetooth
X-KDE-Keywords[it]=Rete,Connettività,Bluetooth
X-KDE-Keywords[km]=បណ្ដាញ ការ​តភ្ជាប់ ប៊្លូធូស
X-KDE-Keywords[nb]=Nettverk,sammenkobling,blåtann
X-KDE-Keywords[nds]=Nettwark,Verbinnen,Bluetooth
X-KDE-Keywords[nl]=Netwerkverbinding,connectiviteit,bluetooth
X-KDE-Keywords[pa]=ਨੈੱਟਵਰਕ,ਕੁਨੈਕਟਵਿਟੀ,ਬਲਿਊਟੁੱਥ
X-KDE-Keywords[pl]=Sieć,Łączność,Bluetooth
X-KDE-Keywords[pt]=Rede,Conectividade,Bluetooth
X-KDE-Keywords[pt_BR]=rede,conectividade,bluetooth
X-KDE-Keywords[ru]=Сеть,Соединение,Bluetooth
X-KDE-Keywords[sk]=Sieť,Konektivita,Bluetooth
X-KDE-Keywords[sl]=Omrežje,Povezave,Bluetooth
X-KDE-Keywords[sr]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavian]=Network,Connectivity,Bluetooth,мрежа,повезивање,блутут
X-KDE-Keywords[sr@ijekavianlatin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sr@latin]=Network,Connectivity,Bluetooth,mreža,povezivanje,Bluetooth
X-KDE-Keywords[sv]=Nätverk,Anslutningar,Blåtand
X-KDE-Keywords[tr]=Ağ, Bağlanılabilirlik, Bluetooth
X-KDE-Keywords[uk]=Network,Connectivity,Bluetooth,мережа,з’єднання,з'єднання
X-KDE-Keywords[x-test]=xxNetwork,Connectivity,Bluetoothxx
X-KDE-Keywords[zh_CN]=Network,Connectivity,Bluetooth,网络,连接,蓝牙
X-KDE-Keywords[zh_TW]=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
