[Desktop Entry]
Exec=kcmshell4 bluedeviladapters
Icon=audio-card
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_bluedeviladapters
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=bluetooth
X-KDE-Weight=100

Name=Adapters
Name[ca]=Adaptadors
Name[da]=Adaptere
Name[en_GB]=Adapters
Name[es]=Adaptadores
Name[et]=Adapterid
Name[fr]=Adaptateurs
Name[hu]=Adapterek
Name[it]=Adattatori
Name[nds]=Koppelsteden
Name[nl]=Adapters
Name[pt]=Adaptadores
Name[pt_BR]=Adaptadores
Name[sl]=Vmesniki
Name[sv]=Anslutningar
Name[tr]=Bağdaştırıcılar
Name[uk]=Адаптери
Name[x-test]=xxAdaptersxx
Name[zh_TW]=轉接器

Comment=Configure the available bluetooth adapters
Comment[ca]=Configura els adaptadors bluetooth disponibles
Comment[da]=Indstil de tilgængelige bluetooth-adaptere
Comment[en_GB]=Configure the available bluetooth adapters
Comment[es]=Configura los adaptadores Bluetooth disponibles
Comment[et]=Saadaolevate Bluetoothi adapterite seadistamine
Comment[fr]=Configure les adaptateurs Bluetooth disponibles
Comment[hu]=Az elérhető bluetooth adapterek beállítása
Comment[it]=Configura gli adattatori Bluetooth disponibili
Comment[nl]=De beschikbare bluetooth-adapters instellen
Comment[pt]=Configurar os adaptadores de Bluetooth disponíveis
Comment[pt_BR]=Configurar os adaptadores de Bluetooth disponíveis
Comment[sl]=Nastavite razpoložljive vmesnike Bluetooth
Comment[sv]=Anpassa tillgängliga Blåtandanslutningar
Comment[tr]=Kullanılabilir bluetooth bağdaştırıcılarını yapılandır
Comment[uk]=Налаштування доступних адаптерів bluetooth
Comment[x-test]=xxConfigure the available bluetooth adaptersxx
Comment[zh_TW]=設定可用的藍芽轉接器

X-KDE-Keywords=Network,Connectivity,Bluetooth

Categories=Qt;KDE;X-KDE-settings-bluetooth;
