[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Send File
Name[fr]=Envoi de fichiers par BlueDevil
Name[nl]=BlueDevil bestand verzenden
Name[sk]=Posielanie súborov BlueDevil
Name[uk]=Надсилання файла BlueDevil
Name[x-test]=xxBlueDevil Send Filexx
GenericName=BlueDevil Send File
GenericName[fr]=Envoi de fichiers par BlueDevil
GenericName[nl]=BlueDevil bestand verzenden
GenericName[sk]=Posielanie súborov BlueDevil
GenericName[uk]=Надсилання файла BlueDevil
GenericName[x-test]=xxBlueDevil Send Filexx
MimeType=application/vnd.kde.bluedevil-sendfile;
Exec=bluedevil-sendfile -k%U
Comment=BlueDevil Send File
Comment[fr]=Envoi de fichiers par BlueDevil
Comment[nl]=BlueDevil bestand verzenden
Comment[sk]=Posielanie súborov BlueDevil
Comment[uk]=Надсилання файла BlueDevil
Comment[x-test]=xxBlueDevil Send Filexx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
