[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Send File
Name[ca]=Envia fitxer amb BlueDevil
Name[cs]=Posílání souborů BlueDevil
Name[fi]=BlueDevil-tiedostonlähetys
Name[fr]=Envoi de fichiers par BlueDevil
Name[nb]=BlueDevil send fil
Name[nl]=BlueDevil bestand verzenden
Name[pl]=Wysłanie pliku BlueDevil
Name[pt]=Envio de Ficheiro do Bluetooth
Name[pt_BR]=Envio de arquivo do BlueDevil
Name[sk]=Posielanie súborov BlueDevil
Name[sr]=Блудевилово слање фајла
Name[sr@ijekavian]=Блудевилово слање фајла
Name[sr@ijekavianlatin]=BlueDevilovo slanje fajla
Name[sr@latin]=BlueDevilovo slanje fajla
Name[sv]=Blådjävul skicka fil
Name[uk]=Надсилання файла BlueDevil
Name[x-test]=xxBlueDevil Send Filexx
GenericName=BlueDevil Send File
GenericName[ca]=Envia fitxers amb BlueDevil
GenericName[cs]=Posílání souborů BlueDevil
GenericName[fi]=BlueDevil-tiedostonlähetys
GenericName[fr]=Envoi de fichiers par BlueDevil
GenericName[nb]=BlueDevil send fil
GenericName[nl]=BlueDevil bestand verzenden
GenericName[pl]=Wysłanie pliku BlueDevil
GenericName[pt]=Envio de Ficheiro do Bluetooth
GenericName[pt_BR]=Envio de arquivo do BlueDevil
GenericName[sk]=Posielanie súborov BlueDevil
GenericName[sr]=Блудевилово слање фајла
GenericName[sr@ijekavian]=Блудевилово слање фајла
GenericName[sr@ijekavianlatin]=BlueDevilovo slanje fajla
GenericName[sr@latin]=BlueDevilovo slanje fajla
GenericName[sv]=Blådjävul skicka fil
GenericName[uk]=Надсилання файла BlueDevil
GenericName[x-test]=xxBlueDevil Send Filexx
MimeType=application/vnd.kde.bluedevil-sendfile;
Exec=bluedevil-sendfile -k%U
Comment=BlueDevil Send File
Comment[ca]=Envia fitxers amb BlueDevil
Comment[cs]=Posílání souborů BlueDevil
Comment[fi]=BlueDevil-tiedostonlähetys
Comment[fr]=Envoi de fichiers par BlueDevil
Comment[nb]=BlueDevil send fil
Comment[nl]=BlueDevil bestand verzenden
Comment[pl]=Wysłanie pliku BlueDevil
Comment[pt]=Envio de Ficheiro do Bluetooth
Comment[pt_BR]=Envio de arquivo do BlueDevil
Comment[sk]=Posielanie súborov BlueDevil
Comment[sr]=Блудевилово слање фајла
Comment[sr@ijekavian]=Блудевилово слање фајла
Comment[sr@ijekavianlatin]=BlueDevilovo slanje fajla
Comment[sr@latin]=BlueDevilovo slanje fajla
Comment[sv]=Blådjävul skicka fil
Comment[uk]=Надсилання файла BlueDevil
Comment[x-test]=xxBlueDevil Send Filexx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
