[Desktop Entry]
Name=Bluetooth File Transfer
Name[ar]=نقل ملفّات بلوتوث
Name[az]=Bluetooth ilə fayl mübadiləsi
Name[bg]=Файлов трансфер през Bluetooth
Name[bs]=Transfer Bluetooth Daoteke
Name[ca]=Transferència de fitxers per Bluetooth
Name[ca@valencia]=Transferència de fitxers per Bluetooth
Name[cs]=Přenos souborů Bluetooth
Name[de]=Bluetooth-Datenübertragung
Name[el]=Μεταφορά αρχείων με Bluetooth
Name[en_GB]=Bluetooth File Transfer
Name[eo]=Bluetooth Dosiera Transdono
Name[es]=Transferencia de archivos por Bluetooth
Name[eu]=Bluetooth, fitxategi transferentzia
Name[fi]=Bluetooth-tiedostonsiirto
Name[fr]=Transfert de fichiers Bluetooth
Name[gl]=Transferencia de ficheiros por Bluetooth
Name[he]=העברת קבצים בבלוטות׳
Name[hu]=Bluetooth fájlátvitel
Name[ia]=Transferimento de file de Bluetooth
Name[id]=Transfer File Bluetooth
Name[ie]=Transferte de files Bluetooth
Name[is]=Bluetooth skráaflutningur
Name[it]=Trasferimento file via Bluetooth
Name[ka]=ბლუთუზით ფაილის გადაცემა
Name[ko]=블루투스 파일 전송
Name[lt]=Failų perdavimai
Name[lv]=„Bluetooth“ datņu nosūtīšana
Name[nl]=Bestandsoverdracht via bluetooth
Name[nn]=Filoverføring via Bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie plików Bluetooth
Name[pt]=Transferência de Ficheiros por Bluetooth
Name[pt_BR]=Transferência de arquivo por Bluetooth
Name[ro]=Transfer de fișiere prin Bluetooth
Name[ru]=Передача файла по Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sv]=Blåtandsfilöverföring
Name[tr]=Bluetooth Dosya Aktarımı
Name[uk]=Перенесення файла за допомогою Bluetooth
Name[x-test]=xxBluetooth File Transferxx
Name[zh_CN]=蓝牙文件传输
Name[zh_TW]=藍牙檔案傳輸
GenericName=Bluetooth File Transfer
GenericName[ar]=نقل ملفّات بلوتوث
GenericName[az]=Bluetooth ilə fayl mübadiləsi
GenericName[bg]=Файлов трансфер през Bluetooth
GenericName[ca]=Transferència de fitxers per Bluetooth
GenericName[ca@valencia]=Transferència de fitxers per Bluetooth
GenericName[cs]=Přenos souborů Bluetooth
GenericName[de]=Bluetooth-Datenübertragung
GenericName[el]=Μεταφορά αρχείων με Bluetooth
GenericName[en_GB]=Bluetooth File Transfer
GenericName[eo]=Bluetooth Dosiera Transdono
GenericName[es]=Transferencia de archivos por Bluetooth
GenericName[eu]=Bluetooth bidezko fitxategi transferentzia
GenericName[fi]=Bluetooth-tiedostonsiirto
GenericName[fr]=Transfert de fichiers par Bluetooth
GenericName[gl]=Transferencia de ficheiros por Bluetooth
GenericName[he]=העברת קבצים בבלוטות׳
GenericName[hu]=Bluetooth fájlátvitel
GenericName[ia]=Transferimento de file de Bluetooth
GenericName[id]=Transfer File Bluetooth
GenericName[ie]=Transferte de files Bluetooth
GenericName[is]=Bluetooth skráaflutningur
GenericName[it]=Trasferimento file Bluetooth
GenericName[ka]=ბლუთუზით ფაილის გადაცემა
GenericName[ko]=블루투스 파일 전송
GenericName[lt]=Bluetooth failų persiuntimas
GenericName[lv]=„Bluetooth“ datņu nosūtīšana
GenericName[nl]=Bestandsoverdracht via bluetooth
GenericName[nn]=Filoverføring via Bluetooth
GenericName[pa]=ਬਲੂਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
GenericName[pl]=Przesyłanie plików przez Bluetooth
GenericName[pt]=Transferência de Ficheiros por Bluetooth
GenericName[pt_BR]=Transferência de arquivo por Bluetooth
GenericName[ro]=Transfer de fișiere prin Bluetooth
GenericName[ru]=Передача файла по Bluetooth
GenericName[sk]=Prenos súborov cez Bluetooth
GenericName[sl]=Bluetooth prenos datotek
GenericName[sv]=Blåtandsfilöverföring
GenericName[tr]=Bluetooth Dosya Aktarımı
GenericName[uk]=Перенесення файла за допомогою Bluetooth
GenericName[x-test]=xxBluetooth File Transferxx
GenericName[zh_CN]=蓝牙文件传输
GenericName[zh_TW]=藍牙檔案傳輸
Comment=Send files via Bluetooth
Comment[ar]=أرسل ملفًّا عبر بلوتوث
Comment[az]=Faylları Bluetooth ilə göndərin
Comment[bg]=Изпращане на файлове чрез Bluetooth
Comment[ca]=Envia fitxers per Bluetooth
Comment[ca@valencia]=Envia fitxers per Bluetooth
Comment[cs]=Posílat soubory přes Bluetooth
Comment[de]=Dateien über Bluetooth versenden
Comment[el]=Αποστολή αρχείων μέσω Bluetooth
Comment[en_GB]=Send files via Bluetooth
Comment[eo]=Sendi dosierojn per Bluetooth
Comment[es]=Enviar archivos usando Bluetooth
Comment[eu]=Bidali fitxategiak Bluetooth bidez
Comment[fi]=Lähetä tiedostoja Bluetoothin kautta
Comment[fr]=Envoi de fichiers par Bluetooth
Comment[gl]=Enviar ficheiros por Bluetooth.
Comment[he]=שליחת קבצים דרך בלוטות׳
Comment[hu]=Fájl küldése Bluetoothon
Comment[ia]=Invia files via Bluetooth
Comment[id]=Kirimkan file via Bluetooth
Comment[ie]=Inviar files per Bluetooth
Comment[is]=Senda skrár með Bluetooth
Comment[it]=Invia file tramite Bluetooth
Comment[ka]=ფაილების ბლუთუზით გადაცემა
Comment[ko]=블루투스로 파일 보내기
Comment[lt]=Siųsti failus per Bluetooth
Comment[lv]=Nosūtīt datnes ar „Bluetooth“
Comment[nl]=Bestanden via bluetooth verzenden
Comment[nn]=Send filer over Bluetooth
Comment[pa]=ਫਾਇਲਾਂ ਨੂੰ ਬਲੂਟੁੱਥ ਰਾਹੀਂ ਭੇਜੋ
Comment[pl]=Wyślij plik przez Bluetooth
Comment[pt]=Enviar os ficheiros por Bluetooth
Comment[pt_BR]=Enviar arquivos por Bluetooth
Comment[ro]=Trimite fișiere prin Bluetooth
Comment[ru]=Отправление файла по Bluetooth
Comment[sk]=Poslať súbory cez Bluetooth
Comment[sl]=Pošlji datoteke preko Bluetooth-a
Comment[sv]=Skicka filer via Blåtand
Comment[tr]=Bluetooth üzerinden dosya gönder
Comment[uk]=Надсилання файлів за допомогою Bluetooth
Comment[x-test]=xxSend files via Bluetoothxx
Comment[zh_CN]=通过蓝牙发送文件
Comment[zh_TW]=透過藍牙傳送檔案

Type=Application
Exec=bluedevil-sendfile -k %u
Icon=preferences-system-bluetooth
Terminal=false
NoDisplay=true
Categories=Qt;KDE;X-Bluetooth;Network;
X-DBUS-ServiceName=org.kde.bluedevilsendfile
MimeType=application/vnd.kde.bluedevil-sendfile
