[Desktop Entry]
Name=Bluetooth File Transfer
Name[ar]=نقل ملفّات بلوتوث
Name[az]=Bluetooth ilə fayl mübadiləsi
Name[bs]=Transfer Bluetooth Daoteke
Name[ca]=Transferència de fitxer per Bluetooth
Name[ca@valencia]=Transferència de fitxer per Bluetooth
Name[cs]=Přenos souborů Bluetooth
Name[el]=Μεταφορά αρχείων με Bluetooth
Name[en_GB]=Bluetooth File Transfer
Name[es]=Transferencia de archivos por Bluetooth
Name[fi]=Bluetooth-tiedostonsiirto
Name[fr]=Transfert de fichiers Bluetooth
Name[gl]=Transferencias de ficheiros mediante Bluetooth
Name[hu]=Bluetooth fájlátvitel
Name[ia]=Transferimento de file de Bluetooth
Name[it]=Trasferimento file via Bluetooth
Name[ko]=블루투스 파일 전송
Name[lt]=Failų perdavimai
Name[nl]=Bestandsoverdracht via bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie plików Bluetooth
Name[pt_BR]=Transferência de arquivo por Bluetooth
Name[ro]=Transfer de fișiere Bluetooth
Name[ru]=Передача файла по Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sv]=Blåtandsfilöverföring
Name[tr]=Bluetooth Dosya Aktarımı
Name[uk]=Перенесення файла за допомогою Bluetooth
Name[x-test]=xxBluetooth File Transferxx
Name[zh_CN]=蓝牙文件传输
GenericName=Bluetooth File Transfer
GenericName[ar]=نقل ملفّات بلوتوث
GenericName[az]=Bluetooth ilə fayl mübadiləsi
GenericName[ca]=Transferència de fitxers per Bluetooth
GenericName[en_GB]=Bluetooth File Transfer
GenericName[es]=Transferencia de archivos por Bluetooth
GenericName[fi]=Bluetooth-tiedostonsiirto
GenericName[fr]=Transfert de fichiers par Bluetooth
GenericName[hu]=Bluetooth fájlátvitel
GenericName[ia]=Transferimento de file de Bluetooth
GenericName[nl]=Bestandsoverdracht via bluetooth
GenericName[pa]=ਬਲੂਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
GenericName[pl]=Przesyłanie plików przez Bluetooth
GenericName[pt_BR]=Transferência de arquivo por Bluetooth
GenericName[sk]=Prenos súborov cez Bluetooth
GenericName[sl]=Bluetooth prenos datotek
GenericName[sv]=Blåtandsfilöverföring
GenericName[uk]=Перенесення файла за допомогою Bluetooth
GenericName[x-test]=xxBluetooth File Transferxx
GenericName[zh_CN]=蓝牙文件传输
Comment=Send files via Bluetooth
Comment[ar]=أرسل ملفًّا عبر بلوتوث
Comment[az]=Faylları Bluetooth ilə göndərin
Comment[ca]=Envia fitxers per Bluetooth
Comment[en_GB]=Send files via Bluetooth
Comment[es]=Enviar archivos usando Bluetooth
Comment[fi]=Lähetä tiedostoja Bluetoothin kautta
Comment[fr]=Envoi de fichiers par Bluetooth
Comment[hu]=Fájl küldése Bluetoothon
Comment[ia]=Invia files via Bluetooth
Comment[nl]=Bestanden via bluetooth verzenden
Comment[pa]=ਫਾਇਲਾਂ ਨੂੰ ਬਲੂਟੁੱਥ ਰਾਹੀਂ ਭੇਜੋ
Comment[pl]=Wyślij plik przez Bluetooth
Comment[pt_BR]=Enviar arquivos por Bluetooth
Comment[sk]=Poslať súbory cez Bluetooth
Comment[sl]=Pošlji datoteke preko Bluetooth-a
Comment[sv]=Skicka filer via Blåtand
Comment[uk]=Надсилання файлів за допомогою Bluetooth
Comment[x-test]=xxSend files via Bluetoothxx
Comment[zh_CN]=通过蓝牙发送文件

Type=Application
Exec=bluedevil-sendfile -k %u
Icon=preferences-system-bluetooth
Terminal=false
NoDisplay=true
Categories=Qt;KDE;X-Bluetooth;Network;
X-DBUS-ServiceName=org.kde.bluedevilsendfile
MimeType=application/vnd.kde.bluedevil-sendfile
