[Desktop Entry]
Name=Bluetooth File Transfer
Name[ar]=نقل ملفّات بلوتوث
Name[bs]=Transfer Bluetooth Daoteke
Name[ca]=Transferència de fitxer per Bluetooth
Name[ca@valencia]=Transferència de fitxer per Bluetooth
Name[de]=Bluetooth-Dateiübertragung
Name[el]=Μεταφορά αρχείων με Bluetooth
Name[en_GB]=Bluetooth File Transfer
Name[es]=Transferencia de archivos por Bluetooth
Name[fi]=Bluetooth-tiedostonsiirto
Name[fr]=Transfert de fichiers Bluetooth
Name[gl]=Transferencias de ficheiros mediante Bluetooth
Name[hu]=Bluetooth fájlátvitel
Name[it]=Trasferimento file via Bluetooth
Name[ko]=블루투스 파일 전송
Name[lt]=Failų perdavimai
Name[nl]=Bestandsoverdracht via bluetooth
Name[pa]=ਬਲਿਊਟੁੱਥ ਫਾਇਲ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie plików Bluetooth
Name[ro]=Transfer de fișiere Bluetooth
Name[ru]=Передача файла по Bluetooth
Name[sk]=Prenosy súborov Bluetooth
Name[sl]=Prenos datotek prek Bluetooth
Name[sv]=Filöverföring med Blåtand
Name[tr]=Bluetooth Dosya Aktarımı
Name[uk]=Перенесення файла за допомогою Bluetooth
GenericName=Bluetooth File Transfer
Comment=Send files via Bluetooth

Type=Application
Exec=bluedevil-sendfile -k %u
Icon=preferences-system-bluetooth
Terminal=false
NoDisplay=true
Categories=Qt;KDE;X-Bluetooth;Network;
X-DBUS-ServiceName=org.kde.bluedevilsendfile
MimeType=application/vnd.kde.bluedevil-sendfile
