[Desktop Entry]
Type=Service
Name=Send file via Bluetooth
Name[ar]=أرسل ملفًّا عبر بلوتوث
Name[ast]=Unviar ficheru per Bluetooth
Name[bs]=Šalji datoteku preko Bluetoots
Name[ca]=Envia un fitxer per Bluetooth
Name[ca@valencia]=Envia un fitxer per Bluetooth
Name[cs]=Poslat soubor přes Bluetooth
Name[da]=Send fil via Bluetooth
Name[de]=Datei über Bluetooth versenden
Name[el]=Αποστολή αρχείου μέσω Bluetooth
Name[en_GB]=Send file via Bluetooth
Name[es]=Enviar archivo usando Bluetooth
Name[et]=Faili saatmine Bluetoothi kaudu
Name[fi]=Lähetä tiedosto Bluetoothin kautta
Name[fr]=Envoi de fichiers via Bluetooth
Name[gl]=Enviar o ficheiro por Bluetooth
Name[he]=שלח קובץ דרך הבלוטוס
Name[hu]=Fájl küldése Bluetoothon
Name[it]=Invia file via Bluetooth
Name[ja]=Bluetooth を通してファイルを送信
Name[ko]=블루투스로 파일 보내기
Name[lt]=Siųsti per Bluetooth
Name[nb]=Send fil over Bluetooth
Name[nl]=Verzendt bestand over bluetooth
Name[nn]=Send fil over Bluetooth
Name[pa]=ਫਾਇਲ ਨੂੰ ਬਲਿਊਟੁੱਥ ਰਾਹੀਂ ਭੇਜੋ
Name[pl]=Wyślij plik przez Bluetooth
Name[pt]=Enviar o ficheiro por Bluetooth
Name[pt_BR]=Enviar arquivo por Bluetooth
Name[ro]=Trimite fișier prin Bluetooth
Name[ru]=Отправить файл по Bluetooth
Name[sk]=Poslať súbor cez Bluetooth
Name[sl]=Pošlji datoteko preko Bluetooth-a
Name[sr]=Слање фајлова преко блутута
Name[sr@ijekavian]=Слање фајлова преко блутута
Name[sr@ijekavianlatin]=Slanje fajlova preko Bluetootha
Name[sr@latin]=Slanje fajlova preko Bluetootha
Name[sv]=Skicka fil via Blåtand
Name[tr]=Bluetooth üzerinden dosya gönder
Name[uk]=Надіслати файл за допомогою Bluetooth
Name[x-test]=xxSend file via Bluetoothxx
Name[zh_CN]=通过蓝牙发送文件
Name[zh_TW]=透過藍牙傳送檔案
X-KDE-Library=bluetoothfileitemaction
X-KDE-Submenu=Bluetooth
X-KDE-Submenu[ar]=بلوتوث
X-KDE-Submenu[ast]=Bluetooth
X-KDE-Submenu[bs]=Blutut
X-KDE-Submenu[ca]=Bluetooth
X-KDE-Submenu[ca@valencia]=Bluetooth
X-KDE-Submenu[cs]=Bluetooth
X-KDE-Submenu[da]=Bluetooth
X-KDE-Submenu[de]=Bluetooth
X-KDE-Submenu[el]=Bluetooth
X-KDE-Submenu[en_GB]=Bluetooth
X-KDE-Submenu[es]=Bluetooth
X-KDE-Submenu[et]=Bluetooth
X-KDE-Submenu[fi]=Bluetooth
X-KDE-Submenu[fr]=Bluetooth
X-KDE-Submenu[gl]=Bluetooth
X-KDE-Submenu[he]=בלוטוס
X-KDE-Submenu[hu]=Bluetooth
X-KDE-Submenu[it]=Bluetooth
X-KDE-Submenu[ja]=Bluetooth
X-KDE-Submenu[ko]=블루투스
X-KDE-Submenu[lt]=Bluetooth
X-KDE-Submenu[nb]=Bluetooth
X-KDE-Submenu[nl]=Bluetooth
X-KDE-Submenu[nn]=Bluetooth
X-KDE-Submenu[pa]=ਬਲਿਊਟੁੱਥ
X-KDE-Submenu[pl]=Bluetooth
X-KDE-Submenu[pt]=Bluetooth
X-KDE-Submenu[pt_BR]=Bluetooth
X-KDE-Submenu[ro]=Bluetooth
X-KDE-Submenu[ru]=Bluetooth
X-KDE-Submenu[sk]=Bluetooth
X-KDE-Submenu[sl]=Bluetooth
X-KDE-Submenu[sr]=Блутут
X-KDE-Submenu[sr@ijekavian]=Блутут
X-KDE-Submenu[sr@ijekavianlatin]=Bluetooth
X-KDE-Submenu[sr@latin]=Bluetooth
X-KDE-Submenu[sv]=Blåtand
X-KDE-Submenu[tr]=Bluetooth
X-KDE-Submenu[uk]=Bluetooth
X-KDE-Submenu[x-test]=xxBluetoothxx
X-KDE-Submenu[zh_CN]=蓝牙
X-KDE-Submenu[zh_TW]=藍牙
Icon=preferences-system-bluetooth
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;
