[Desktop Entry]
Type=Service
Name=Send file via Bluetooth
Name[bs]=Šalji datoteku preko Bluetoots
Name[ca]=Envia un fitxer per Bluetooth
Name[cs]=Poslat soubor přes Bluetooth
Name[da]=Send fil via Bluetooth
Name[de]=Datei über Bluetooth versenden
Name[el]=Αποστολή αρχείου μέσω Bluetooth
Name[es]=Enviar archivo por Bluetooth
Name[et]=Faili saatmine Bluetoothi kaudu
Name[fi]=Lähetä tiedosto Bluetoothin kautta
Name[gl]=Enviar o ficheiro por Bluetooth
Name[hu]=Fájl küldése Bluetoothon
Name[it]=Invia file via Bluetooth
Name[nb]=Send fil over Bluetooth
Name[nl]=Verzendt bestand over bluetooth
Name[pa]=ਫਾਇਲ ਬਲਿਊਟੁੱਥ ਰਾਹੀਂ ਭੇਜੋ
Name[pl]=Wyślij plik przez Bluetooth
Name[pt]=Enviar o ficheiro por Bluetooth
Name[pt_BR]=Enviar arquivo por Bluetooth
Name[ru]=Отправить файл по Bluetooth
Name[sk]=Poslať súbor cez Bluetooth
Name[sl]=Pošlji datoteko preko Bluetooth-a
Name[sv]=Skicka fil via Blåtand
Name[uk]=Надіслати файл за допомогою Bluetooth
Name[x-test]=xxSend file via Bluetoothxx
Name[zh_TW]=透過藍牙傳送檔案
X-KDE-Library=bluetoothfiletiemaction
X-KDE-Submenu=Bluetooth
X-KDE-Submenu[bs]=Bluetooth
X-KDE-Submenu[ca]=Bluetooth
X-KDE-Submenu[cs]=Bluetooth
X-KDE-Submenu[da]=Bluetooth
X-KDE-Submenu[de]=Bluetooth
X-KDE-Submenu[el]=Bluetooth
X-KDE-Submenu[es]=Bluetooth
X-KDE-Submenu[et]=Bluetooth
X-KDE-Submenu[fi]=Bluetooth
X-KDE-Submenu[gl]=Bluetooth
X-KDE-Submenu[hu]=Bluetooth
X-KDE-Submenu[it]=Bluetooth
X-KDE-Submenu[nb]=Bluetooth
X-KDE-Submenu[nl]=Bluetooth
X-KDE-Submenu[pa]=ਬਲਿਊਟੁੱਥ
X-KDE-Submenu[pl]=Bluetooth
X-KDE-Submenu[pt]=Bluetooth
X-KDE-Submenu[pt_BR]=Bluetooth
X-KDE-Submenu[ru]=Bluetooth
X-KDE-Submenu[sk]=Bluetooth
X-KDE-Submenu[sl]=Bluetooth
X-KDE-Submenu[sv]=Blåtand
X-KDE-Submenu[ug]=كۆكچىش
X-KDE-Submenu[uk]=Bluetooth
X-KDE-Submenu[x-test]=xxBluetoothxx
X-KDE-Submenu[zh_TW]=藍牙
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;
