[Desktop Entry]
Type=Service
Name=Send file via Bluetooth
Name[da]=Send fil via Bluetooth
Name[el]=Αποστολή αρχείου μέσω Bluetooth
Name[et]=Faili saatmine Bluetoothi kaudu
Name[hu]=Fájl küldése Bluetoothon
Name[it]=Invia file via Bluetooth
Name[nl]=Verzendt bestand over bluetooth
Name[pa]=ਫਾਇਲ ਬਲਿਊਟੁੱਥ ਰਾਹੀਂ ਭੇਜੋ
Name[pl]=Wyślij plik przez Bluetooth
Name[pt_BR]=Enviar arquivo por Bluetooth
Name[sv]=Skicka fil via Blåtand
Name[uk]=Надіслати файл за допомогою Bluetooth
Name[x-test]=xxSend file via Bluetoothxx
Name[zh_TW]=透過藍牙傳送檔案
X-KDE-Library=bluetoothfiletiemaction
X-KDE-Submenu=Bluetooth
X-KDE-Submenu[da]=Bluetooth
X-KDE-Submenu[el]=Bluetooth
X-KDE-Submenu[et]=Bluetooth
X-KDE-Submenu[hu]=Bluetooth
X-KDE-Submenu[it]=Bluetooth
X-KDE-Submenu[nl]=Bluetooth
X-KDE-Submenu[pa]=ਬਲਿਊਟੁੱਥ
X-KDE-Submenu[pl]=Bluetooth
X-KDE-Submenu[pt_BR]=Bluetooth
X-KDE-Submenu[sv]=Blåtand
X-KDE-Submenu[ug]=كۆكچىش
X-KDE-Submenu[uk]=Bluetooth
X-KDE-Submenu[x-test]=xxBluetoothxx
X-KDE-Submenu[zh_TW]=藍牙
ServiceTypes=KFileItemAction/Plugin
MimeType=application/octet-stream;
