[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Send File
GenericName=BlueDevil Send File
MimeType=application/vnd.kde.bluedevil-sendfile;
Exec=bluedevil-sendfile -k%U
Comment=BlueDevil Send File
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
