[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Wizard
Name[de]=BlueDevil-Assistent
Name[nds]=BlueDevil-Hölper
Name[pt]=Assistente BlueDevil
Name[pt_BR]=Assistente BlueDevil
Name[sv]=Blådjävul guide
Name[uk]=Майстер BlueDevil
Name[x-test]=xxBlueDevil Wizardxx
GenericName=BlueDevil Wizard
GenericName[de]=BlueDevil-Assistent
GenericName[nds]=BlueDevil-Hölper
GenericName[pt]=Assistente BlueDevil
GenericName[pt_BR]=Assistente BlueDevil
GenericName[sv]=Blådjävul guide
GenericName[uk]=Майстер BlueDevil
GenericName[x-test]=xxBlueDevil Wizardxx
Exec=bluedevil-wizard %U
Comment=BlueDevil Wizard
Comment[de]=BlueDevil-Assistent
Comment[nds]=BlueDevil-Hölper
Comment[pt]=Assistente BlueDevil
Comment[pt_BR]=Assistente BlueDevil
Comment[sv]=Blådjävul guide
Comment[uk]=Майстер BlueDevil
Comment[x-test]=xxBlueDevil Wizardxx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;Bluetooth;Network;
NoDisplay=true
