[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Wizard
Name[ca]=Assistent del BlueDevil
Name[cs]=Průvodce Bluedevil
Name[de]=BlueDevil-Assistent
Name[en_GB]=BlueDevil Wizard
Name[es]=Asistente de BlueDevil
Name[fi]=Opastettu BlueDevil-toiminto
Name[fr]=Assistant pour BlueDevil
Name[it]=Procedura guidata di BlueDevil
Name[nb]=BlueDevil veiviser
Name[nl]=BlueDevil assistent
Name[pl]=Pomocnik BlueDevil
Name[pt]=Assistente BlueDevil
Name[pt_BR]=Assistente BlueDevil
Name[sk]=Sprievodca BlueDevil
Name[sl]=BlueDevil – čarovnik
Name[sr]=Блудевилов чаробњак
Name[sr@ijekavian]=Блудевилов чаробњак
Name[sr@ijekavianlatin]=BlueDevilov čarobnjak
Name[sr@latin]=BlueDevilov čarobnjak
Name[sv]=Blådjävul guide
Name[uk]=Майстер BlueDevil
Name[x-test]=xxBlueDevil Wizardxx
Name[zh_CN]=BlueDevil 向导
GenericName=BlueDevil Wizard
GenericName[ca]=Assistent del BlueDevil
GenericName[cs]=Průvodce Bluedevil
GenericName[de]=BlueDevil-Assistent
GenericName[en_GB]=BlueDevil Wizard
GenericName[es]=Asistente de BlueDevil
GenericName[fi]=Opastettu BlueDevil-toiminto
GenericName[fr]=Assistant pour BlueDevil
GenericName[it]=Procedura guidata di BlueDevil
GenericName[nb]=BlueDevil veiviser
GenericName[nl]=BlueDevil assistent
GenericName[pl]=Pomocnik BlueDevil
GenericName[pt]=Assistente BlueDevil
GenericName[pt_BR]=Assistente BlueDevil
GenericName[sk]=Sprievodca BlueDevil
GenericName[sl]=BlueDevil – čarovnik
GenericName[sr]=Блудевилов чаробњак
GenericName[sr@ijekavian]=Блудевилов чаробњак
GenericName[sr@ijekavianlatin]=BlueDevilov čarobnjak
GenericName[sr@latin]=BlueDevilov čarobnjak
GenericName[sv]=Blådjävul guide
GenericName[uk]=Майстер BlueDevil
GenericName[x-test]=xxBlueDevil Wizardxx
GenericName[zh_CN]=BlueDevil 向导
Exec=bluedevil-wizard %U
Comment=BlueDevil Wizard
Comment[ca]=Assistent del BlueDevil
Comment[cs]=BlueDevil
Comment[de]=BlueDevil-Assistent
Comment[en_GB]=BlueDevil Wizard
Comment[es]=Asistente de BlueDevil
Comment[fi]=Opastettu BlueDevil-toiminto
Comment[fr]=Assistant pour BlueDevil
Comment[it]=Procedura guidata di BlueDevil
Comment[nb]=BlueDevil veiviser
Comment[nl]=BlueDevil assistent
Comment[pl]=Pomocnik BlueDevil
Comment[pt]=Assistente BlueDevil
Comment[pt_BR]=Assistente BlueDevil
Comment[sk]=Sprievodca BlueDevil
Comment[sl]=BlueDevil – čarovnik
Comment[sr]=Блудевилов чаробњак
Comment[sr@ijekavian]=Блудевилов чаробњак
Comment[sr@ijekavianlatin]=BlueDevilov čarobnjak
Comment[sr@latin]=BlueDevilov čarobnjak
Comment[sv]=Blådjävul guide
Comment[uk]=Майстер BlueDevil
Comment[x-test]=xxBlueDevil Wizardxx
Comment[zh_CN]=BlueDevil 向导
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
