[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Wizard
Name[fr]=Assistant pour BlueDevil
Name[nl]=BlueDevil assistent
Name[sk]=Sprievodca BlueDevil
Name[uk]=Майстер BlueDevil
Name[x-test]=xxBlueDevil Wizardxx
GenericName=BlueDevil Wizard
GenericName[fr]=Assistant pour BlueDevil
GenericName[nl]=BlueDevil assistent
GenericName[sk]=Sprievodca BlueDevil
GenericName[uk]=Майстер BlueDevil
GenericName[x-test]=xxBlueDevil Wizardxx
Exec=bluedevil-wizard %U
Comment=BlueDevil Wizard
Comment[fr]=Assistant pour BlueDevil
Comment[nl]=BlueDevil assistent
Comment[sk]=Sprievodca BlueDevil
Comment[uk]=Майстер BlueDevil
Comment[x-test]=xxBlueDevil Wizardxx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;X-Bluetooth;Network;
NoDisplay=true
