[Desktop Entry]
Name=Add Bluetooth Device
Name[ar]=أضف جهاز بلوتوث
Name[az]=Bluetooth cihazı əlavə edin
Name[bg]=Добавяне на Bluetooth устройство
Name[ca]=Afegeix un dispositiu Bluetooth
Name[ca@valencia]=Afig un dispositiu Bluetooth
Name[cs]=Přidat zařízení Bluetooth
Name[de]=Bluetooth-Gerät hinzufügen
Name[el]=Προσθήκη συσκευής Bluetooth
Name[en_GB]=Add Bluetooth Device
Name[eo]=Aldoni Bluetooth-Aparaton
Name[es]=Añadir dispositivo Bluetooth
Name[eu]=Gehitu Bluetooth gailua
Name[fi]=Lisää Bluetooth-laite
Name[fr]=Ajouter un périphériques Bluetooth
Name[gl]=Engadir un dispositivo de Bluetooth
Name[he]=הוספת התקן בלוטות׳
Name[hu]=Bluetooth eszköz hozzáadása
Name[ia]=Adde dispositivo de Bluetooth
Name[id]=Tambahkan Peranti Bluetooth
Name[ie]=Adjunter un aparate Bluetooth
Name[is]=Bæta við Bluetooth-tæki
Name[it]=Aggiungi dispositivo Bluetooth
Name[ka]=ბლუთუზის  მოწყობილობის დამატება
Name[ko]=블루투스 장치 추가
Name[lt]=Pridėti Bluetooth įrenginį
Name[lv]=Pievienot „Bluetooth“ ierīci
Name[nl]=Bluetooth-apparaat toevoegen
Name[nn]=Legg til Bluetooth-eining
Name[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸ ਜੋੜੋ
Name[pl]=Dodaj urządzenie Bluetooth
Name[pt]=Adicionar um Dispositivo Bluetooth
Name[pt_BR]=Adicionar dispositivo Bluetooth
Name[ro]=Adaugă dispozitiv Bluetooth
Name[ru]=Добавление устройства Bluetooth
Name[sk]=Pridať Bluetooth zariadenie
Name[sl]=Dodaj napravo Bluetooth
Name[sv]=Lägg till Blåtandsenhet
Name[tr]=Bluetooth Aygıtı Ekle
Name[uk]=Додавання пристрою Bluetooth
Name[x-test]=xxAdd Bluetooth Devicexx
Name[zh_CN]=添加蓝牙设备
Name[zh_TW]=新增藍牙裝置
GenericName=Add Bluetooth Device
GenericName[ar]=أضف جهاز بلوتوث
GenericName[az]=Bluetooth cihazı əlavə edin
GenericName[bg]=Добавяне на Bluetooth устройство
GenericName[ca]=Afegeix un dispositiu Bluetooth
GenericName[ca@valencia]=Afig un dispositiu Bluetooth
GenericName[cs]=Přidat zařízení Bluetooth
GenericName[de]=Bluetooth-Gerät hinzufügen
GenericName[el]=Προσθήκη συσκευής Bluetooth
GenericName[en_GB]=Add Bluetooth Device
GenericName[eo]=Aldoni Bluetooth-Aparaton
GenericName[es]=Añadir dispositivo Bluetooth
GenericName[eu]=Gehitu Bluetooth gailua
GenericName[fi]=Lisää Bluetooth-laite
GenericName[fr]=Ajouter un périphériques Bluetooth
GenericName[gl]=Engadir un dispositivo de Bluetooth
GenericName[he]=הוספת התקן בלוטות׳
GenericName[hu]=Bluetooth eszköz hozzáadása
GenericName[ia]=Adde dispositivos de Bluetooth
GenericName[id]=Tambahkan Peranti Bluetooth
GenericName[ie]=Adjunter un aparate Bluetooth
GenericName[is]=Bæta við Bluetooth-tæki
GenericName[it]=Aggiungi dispositivo Bluetooth
GenericName[ka]=ბლუთუზის  მოწყობილობის დამატება
GenericName[ko]=블루투스 장치 추가
GenericName[lt]=Pridėti Bluetooth įrenginį
GenericName[lv]=Pievienot „Bluetooth“ ierīci
GenericName[nl]=Bluetooth-apparaat toevoegen
GenericName[nn]=Legg til Bluetooth-eining
GenericName[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸ ਜੋੜੋ
GenericName[pl]=Dodaj urządzenie Bluetooth
GenericName[pt]=Adicionar um Dispositivo Bluetooth
GenericName[pt_BR]=Adicionar dispositivo Bluetooth
GenericName[ro]=Adaugă dispozitiv Bluetooth
GenericName[ru]=Добавление устройства Bluetooth
GenericName[sk]=Pridať Bluetooth zariadenie
GenericName[sl]=Dodaj napravo Bluetooth
GenericName[sv]=Lägg till Blåtandsenhet
GenericName[tr]=Bluetooth Aygıtı Ekle
GenericName[uk]=Додавання пристрою Bluetooth
GenericName[x-test]=xxAdd Bluetooth Devicexx
GenericName[zh_CN]=添加蓝牙设备
GenericName[zh_TW]=新增藍牙裝置
Comment=Add Bluetooth Device
Comment[ar]=أضف جهاز بلوتوث
Comment[az]=Bluetooth cihazı əlavə edin
Comment[bg]=Добавяне на Bluetooth устройство
Comment[ca]=Afegeix un dispositiu Bluetooth
Comment[ca@valencia]=Afig un dispositiu Bluetooth
Comment[cs]=Přidat zařízení Bluetooth
Comment[de]=Bluetooth-Gerät hinzufügen
Comment[el]=Προσθήκη συσκευής Bluetooth
Comment[en_GB]=Add Bluetooth Device
Comment[eo]=Aldoni Bluetooth-Aparaton
Comment[es]=Añadir dispositivo Bluetooth
Comment[eu]=Bluetooth gailua gehitzea
Comment[fi]=Lisää Bluetooth-laite
Comment[fr]=Ajouter un périphériques Bluetooth
Comment[gl]=Engadir un dispositivo de Bluetooth.
Comment[he]=הוספת התקן בלוטות׳
Comment[hu]=Bluetooth eszköz hozzáadása
Comment[ia]=Adde dispositivos de Bluetooth
Comment[id]=Tambahkan Peranti Bluetooth
Comment[ie]=Adjunter un aparate Bluetooth
Comment[is]=Bæta við Bluetooth-tæki
Comment[it]=Aggiungi dispositivo Bluetooth
Comment[ka]=ბლუთუზის  მოწყობილობის დამატება
Comment[ko]=블루투스 장치 추가
Comment[lt]=Pridėti Bluetooth įrenginį
Comment[lv]=Pievienot „Bluetooth“ ierīci
Comment[nl]=Bluetooth-apparaat toevoegen
Comment[nn]=Legg til Bluetooth-eining
Comment[pa]=ਬਲੂਟੁੱਥ ਡਿਵਾਈਸ ਜੋੜੋ
Comment[pl]=Dodaj urządzenie Bluetooth
Comment[pt]=Adicionar um Dispositivo Bluetooth
Comment[pt_BR]=Adicionar dispositivo Bluetooth
Comment[ro]=Adaugă dispozitiv Bluetooth
Comment[ru]=Добавление устройства Bluetooth
Comment[sk]=Pridať Bluetooth zariadenie
Comment[sl]=Dodaj napravo Bluetooth
Comment[sv]=Lägg till Blåtandsenhet
Comment[tr]=Bluetooth Aygıtı Ekle
Comment[uk]=Додавання пристрою Bluetooth
Comment[x-test]=xxAdd Bluetooth Devicexx
Comment[zh_CN]=添加蓝牙设备
Comment[zh_TW]=新增藍牙裝置

Type=Application
Exec=bluedevil-wizard %U
Icon=preferences-system-bluetooth
Terminal=false
NoDisplay=true
Categories=Qt;KDE;X-Bluetooth;Network;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.bluedevilwizard
