[Desktop Entry]
Name=Add Bluetooth Device
Name[ar]=أضف جهاز بلوتوث
Name[az]=Bluetooth cihazı əlavə edin
Name[ca]=Afegeix un dispositiu Bluetooth
Name[es]=Añadir dispositivo Bluetooth
Name[fr]=Ajouter un périphériques Bluetooth
Name[hu]=Bluetooth eszköz hozzáadása
Name[ia]=Adde dispositivo de Bluetooth
Name[nl]=Bluetooth-apparaat toevoegen
Name[pl]=Dodaj urządzenie Bluetooth
Name[sl]=Dodaj napravo Bluetooth
Name[sv]=Lägg till Blåtandsenhet
Name[uk]=Додавання пристрою Bluetooth
Name[x-test]=xxAdd Bluetooth Devicexx
GenericName=Add Bluetooth Device
GenericName[ar]=أضف جهاز بلوتوث
GenericName[az]=Bluetooth cihazı əlavə edin
GenericName[ca]=Afegeix un dispositiu Bluetooth
GenericName[es]=Añadir dispositivo Bluetooth
GenericName[fr]=Ajouter un périphériques Bluetooth
GenericName[hu]=Bluetooth eszköz hozzáadása
GenericName[ia]=Adde dispositivos de Bluetooth
GenericName[nl]=Bluetooth-apparaat toevoegen
GenericName[pl]=Dodaj urządzenie Bluetooth
GenericName[sl]=Dodaj napravo Bluetooth
GenericName[sv]=Lägg till Blåtandsenhet
GenericName[uk]=Додавання пристрою Bluetooth
GenericName[x-test]=xxAdd Bluetooth Devicexx
Comment=Add Bluetooth Device
Comment[ar]=أضف جهاز بلوتوث
Comment[az]=Bluetooth cihazı əlavə edin
Comment[ca]=Afegeix un dispositiu Bluetooth
Comment[es]=Añadir dispositivo Bluetooth
Comment[fr]=Ajouter un périphériques Bluetooth
Comment[hu]=Bluetooth eszköz hozzáadása
Comment[ia]=Adde dispositivos de Bluetooth
Comment[nl]=Bluetooth-apparaat toevoegen
Comment[pl]=Dodaj urządzenie Bluetooth
Comment[sl]=Dodaj napravo Bluetooth
Comment[sv]=Lägg till Blåtandsenhet
Comment[uk]=Додавання пристрою Bluetooth
Comment[x-test]=xxAdd Bluetooth Devicexx

Type=Application
Exec=bluedevil-wizard %U
Icon=preferences-system-bluetooth
Terminal=false
NoDisplay=true
Categories=Qt;KDE;X-Bluetooth;Network;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.bluedevilwizard
