[Desktop Entry]
Type=Application
Version=1.0
Name=BlueDevil Audio connect
Name[da]=BlueDevil lydforbindelse
Name[en_GB]=BlueDevil Audio connect
Name[pt]=Ligação de Áudio do Bluedevil
Name[pt_BR]=Conexão de áudio do Bluedevil
Name[sv]=Blådjävul ljudanslutning
Name[uk]=З’єднання звукового пристрою BlueDevil
Name[x-test]=xxBlueDevil Audio connectxx
GenericName=BlueDevil Audio connect
GenericName[da]=BlueDevil lydforbindelse
GenericName[en_GB]=BlueDevil Audio connect
GenericName[pt]=Ligação de Áudio do Bluedevil
GenericName[pt_BR]=Conexão de áudio do Bluedevil
GenericName[sv]=Blådjävul ljudanslutning
GenericName[uk]=З’єднання звукового пристрою BlueDevil
GenericName[x-test]=xxBlueDevil Audio connectxx
MimeType=virtual/bluedevil-audio;
Exec=bluedevil-audio %U
Comment=BlueDevil Audio connect
Comment[da]=BlueDevil lydforbindelse
Comment[en_GB]=BlueDevil Audio connect
Comment[pt]=Ligação de Áudio do Bluedevil
Comment[pt_BR]=Conexão de áudio do Bluedevil
Comment[sv]=Blådjävul ljudanslutning
Comment[uk]=З’єднання звукового пристрою BlueDevil
Comment[x-test]=xxBlueDevil Audio connectxx
Icon=preferences-system-bluetooth
Terminal=false
Categories=Qt;KDE;Bluetooth;Network;Audio;
NoDisplay=true
