[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of an input device
Comment[da]=Håndterer forbindelse og konfiguration af en input-enhed
Comment[en_GB]=Handles the connection and configuration of an input device
Comment[pt]=Lida com a ligação e configuração de um dispositivo de entrada
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de entrada
Comment[sv]=Hanterar anslutning och anpassning av en indataenhet
Comment[uk]=Виконує обробку з’єднання та налаштування пристроїв введення даних
Comment[x-test]=xxHandles the connection and configuration of an input devicexx
Name=Input
Name[da]=Input
Name[en_GB]=Input
Name[nds]=Ingaav
Name[pt]=Entrada
Name[pt_BR]=Entrada
Name[sv]=Indata
Name[uk]=Введення даних
Name[x-test]=xxInputxx
GenericName=Input
GenericName[da]=Input
GenericName[en_GB]=Input
GenericName[nds]=Ingaav
GenericName[pt]=Entrada
GenericName[pt_BR]=Entrada
GenericName[sv]=Indata
GenericName[uk]=Введення даних
GenericName[x-test]=xxInputxx
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilinputactionplugin
X-KDE-PluginInfo-Name=Input
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001124-0000-1000-8000-00805F9B34FB
