[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of an input device
Comment[ca]=Gestiona la connexió i la configuració d'un dispositiu d'entrada
Comment[da]=Håndterer forbindelse og konfiguration af en input-enhed
Comment[en_GB]=Handles the connection and configuration of an input device
Comment[fr]=Gère la connexion et la configuration d'un périphérique d''entrée
Comment[nl]=Behandelt de verbinding en instelling van een invoerapparaat
Comment[pt]=Lida com a ligação e configuração de um dispositivo de entrada
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de entrada
Comment[sv]=Hanterar anslutning och anpassning av en indataenhet
Comment[uk]=Виконує обробку з’єднання та налаштування пристроїв введення даних
Comment[x-test]=xxHandles the connection and configuration of an input devicexx
Comment[zh_TW]=處理輸入裝置的連線與設定
Name=Input
Name[ca]=Entrada
Name[cs]=Vstup
Name[da]=Input
Name[en_GB]=Input
Name[fr]=Entrée
Name[mai]=इनपुट
Name[nds]=Ingaav
Name[nl]=Invoer
Name[pt]=Entrada
Name[pt_BR]=Entrada
Name[sv]=Indata
Name[uk]=Введення даних
Name[x-test]=xxInputxx
Name[zh_TW]=輸入
GenericName=Input
GenericName[ca]=Entrada
GenericName[cs]=Vstup
GenericName[da]=Input
GenericName[en_GB]=Input
GenericName[fr]=Entrée
GenericName[mai]=इनपुट
GenericName[nds]=Ingaav
GenericName[nl]=Invoer
GenericName[pt]=Entrada
GenericName[pt_BR]=Entrada
GenericName[sv]=Indata
GenericName[uk]=Введення даних
GenericName[x-test]=xxInputxx
GenericName[zh_TW]=輸入
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilinputactionplugin
X-KDE-PluginInfo-Name=Input
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001124-0000-1000-8000-00805F9B34FB
