[Desktop Entry]
Type=Service
Exec=blubb
Comment=Handles the connection and configuration of an input device
Comment[ca]=Gestiona la connexió i la configuració d'un dispositiu d'entrada
Comment[ca@valencia]=Gestiona la connexió i la configuració d'un dispositiu d'entrada
Comment[cs]=Stará se o připojení a nastavení vstupního zařízení
Comment[da]=Håndterer forbindelse og konfiguration af en input-enhed
Comment[de]=Handhabt die Verbindung und Konfiguration eines Eingabegerätes
Comment[el]=Χειρίζεται τη σύνδεση και τη ρύθμιση μιας συσκευής εισόδου
Comment[en_GB]=Handles the connection and configuration of an input device
Comment[es]=Controla la conexión y configuración de un dispositivo de entrada
Comment[et]=Sisendseadme ühenduse ja seadistamine haldamine
Comment[fi]=Yhdistää ja määrittää syötelaitteen
Comment[fr]=Gère la connexion et la configuration d'un périphérique d''entrée
Comment[hu]=Kezeli a beviteli eszköz kapcsolatát és beállításait
Comment[it]=Gestisce la connessione e la configurazione di un dispositivo di ingresso
Comment[km]=ដោះស្រាយ​ការ​តភ្ជាប់​ និង​ការ​កំណត់​រចនាសម្ព័ន្ធ​នៃ​​​ឧបករណ៍​បញ្ចូល​ព័ត៌មាន​​
Comment[nb]=Håndterer tilkobling og oppsett av en inndata-enhet
Comment[nds]=Ingaavreedschappen tokoppeln un instellen
Comment[nl]=Behandelt de verbinding en instelling van een invoerapparaat
Comment[pl]=Obsługuje połączenie i konfigurację urządzenia wejściowego
Comment[pt]=Lida com a ligação e configuração de um dispositivo de entrada
Comment[pt_BR]=Trabalha com a conexão e a configuração de um dispositivo de entrada
Comment[ro]=Gestionează conexiunea și configurația unui dispozitiv de intrare
Comment[ru]=Выполняет подключение и настройку устройства ввода
Comment[sl]=Skrbi za povezavo in nastavitev vhodne naprave
Comment[sr]=Рукује повезивањем и подешавањем улазних уређаја
Comment[sr@ijekavian]=Рукује повезивањем и подешавањем улазних уређаја
Comment[sr@ijekavianlatin]=Rukuje povezivanjem i podešavanjem ulaznih uređaja
Comment[sr@latin]=Rukuje povezivanjem i podešavanjem ulaznih uređaja
Comment[sv]=Hanterar anslutning och anpassning av en indataenhet
Comment[th]=จัดการการเชื่อมต่อและการปรับแต่งอุปกรณ์ป้อนข้อมูล
Comment[ug]=كىرگۈزۈش ئۈسكىنىسىنىڭ باغلىنىش ۋە سەپلىنىشىنى بىر تەرەپ قىلىدۇ.
Comment[uk]=Виконує обробку з’єднання та налаштування пристроїв введення даних
Comment[x-test]=xxHandles the connection and configuration of an input devicexx
Comment[zh_TW]=處理輸入裝置的連線與設定
Name=Input
Name[ca]=Entrada
Name[ca@valencia]=Entrada
Name[cs]=Vstup
Name[da]=Input
Name[de]=Eingabe
Name[el]=Είσοδος
Name[en_GB]=Input
Name[es]=Entrada
Name[et]=Sisend
Name[fi]=Syöte
Name[fr]=Entrée
Name[hu]=Bevitel
Name[it]=Ingresso
Name[km]=ព័ត៌មាន​បញ្ចូល​
Name[mai]=इनपुट
Name[nb]=Inndata
Name[nds]=Ingaav
Name[nl]=Invoer
Name[pa]=ਇੰਪੁੱਟ
Name[pl]=Wejście
Name[pt]=Entrada
Name[pt_BR]=Entrada
Name[ro]=Intrare
Name[ru]=Устройство ввода
Name[sl]=Vhod
Name[sr]=Улаз
Name[sr@ijekavian]=Улаз
Name[sr@ijekavianlatin]=Ulaz
Name[sr@latin]=Ulaz
Name[sv]=Indata
Name[th]=การป้อนข้อมูล
Name[tr]=Girdi
Name[ug]=كىرگۈز
Name[uk]=Введення даних
Name[x-test]=xxInputxx
Name[zh_TW]=輸入
GenericName=Input
GenericName[ca]=Entrada
GenericName[ca@valencia]=Entrada
GenericName[cs]=Vstup
GenericName[da]=Input
GenericName[de]=Eingabe
GenericName[el]=Είσοδος
GenericName[en_GB]=Input
GenericName[es]=Entrada
GenericName[et]=Sisend
GenericName[fi]=Syöte
GenericName[fr]=Entrée
GenericName[hu]=Bevitel
GenericName[it]=Ingresso
GenericName[km]=ព័ត៌មាន​បញ្ចូល​
GenericName[mai]=इनपुट
GenericName[nb]=Inndata
GenericName[nds]=Ingaav
GenericName[nl]=Invoer
GenericName[pa]=ਇੰਪੁੱਟ
GenericName[pl]=Wejście
GenericName[pt]=Entrada
GenericName[pt_BR]=Entrada
GenericName[ro]=Intrare
GenericName[ru]=Устройство ввода
GenericName[sl]=Vhod
GenericName[sr]=Улаз
GenericName[sr@ijekavian]=Улаз
GenericName[sr@ijekavianlatin]=Ulaz
GenericName[sr@latin]=Ulaz
GenericName[sv]=Indata
GenericName[th]=การป้อนข้อมูล
GenericName[tr]=Girdi
GenericName[ug]=كىرگۈز
GenericName[uk]=Введення даних
GenericName[x-test]=xxInputxx
GenericName[zh_TW]=輸入
ServiceTypes=BlueDevil/ActionPlugin
X-KDE-Library=bluedevilinputactionplugin
X-KDE-PluginInfo-Name=Input
X-KDE-PluginInfo-Author=Alex Fiestas
X-KDE-PluginInfo-Version=0.00000001
X-KDE-PluginInfo-License=GPL
X-BlueDevil-UUIDS=00001124-0000-1000-8000-00805F9B34FB
